html,body{
    height: 100%;
}

/*헤더*/

header{
    width: 90%;
    height: 90px;
    position: fixed;
    top: 20px;
    left: 5%;
    transition: all 0.4s;
    z-index: 100;
/*    transition: top 0.2s ease-in-out;*/
}
.hd_big{
    width: 100%;
    top: 0;
    left: 0%;
    box-shadow: 0px -1.5px 4px 0px #666;
}
.hd_hide{
    top: -90px;
}
#header_wrap{
    width: 100%;
    height: 100%;
    position: relative;
}
#menu_bg{
    width: 100%;
    height: 288px;
    position: absolute;
    background-color: rgba(1,1,1,0.9);
    top: 90px;
    left: 0;
    overflow: hidden;
}
#menu_bg>span{
    width: 17%;
    height: 50%;
    position: absolute;
    bottom: 0;
    right: 5%;
    background: url(../img/menu-typo.png)no-repeat center center;
    background-size: 100% 100%;
}
#logo{
    width: 180px;
    height: 90px;
    position: absolute;
    top: 20px;
    left: 50px;
    z-index: 100;
}
#logo>a{
    width: 100%;
    height: 100%;
    color: #109ad6;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Varela Round';      
}
#logo>a>span{
    font-size: 2em;
    flow-from: 'Varela Round';
}
#menu{
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: relative;
}
#menu_u{
    width: 100%;
/*    background-color: #fff;*/
}
/*
#menu_u:after{
    content: '';
    clear: both;
    display: block;
}
*/
#menu_u>li{
    width: 8%;
    float: left;
    text-align: center;
    display: block;
}
#menu_u>li:first-child{
    margin-left: 26%;
}
#menu_u>li>a{
    font-size: 18px;
    font-weight: 600;
    line-height: 90px;
    color: black;
}
#menu_u>li>ul{
    width: 100%;
    height: 288px;
    top: 90px;
    left: 0;
    background-color: rgba(0,0,0,0.0);
/*    border-right: 1px solid #fff;*/
}
#menu_u>li>ul>li{
    width: 100%;
    height: 16.6%;
    border-right: 1px solid rgba(255,255,255,0.1);
}
#menu_u>li:last-child ul>li{
    border: none;
}
#menu_u>li>a:hover{
    color: #1c9ad6;
}
#menu_u>li:hover>a{
    color: #1c9ad6;
}
#menu_u>li>ul>li>a{
    font-size: 16px;
    line-height: 270%;
    font-weight: 550;
    color: gray;
    display: block;
}
#menu_u>li>ul>li>a:hover{
    color: white;
}
#len{
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    right: 4.5%;
    transform: translate(-4.5%, -50%);
    font-weight: bold;
    word-spacing: 10px;
}
#len span{
    cursor: pointer;
}
#len span:first-child{
    color: #1c9ad6;
}
#search{
    width: auto;
    height: auto;
    font-size: 18px;
    color: black;
    position: absolute;
    top: 50%;
    right: 2.5%;
    transform: translate(-2.5%, -50%);
    cursor: pointer;
}
#search_ac{
    width: 100%;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0px -1.5px 4px 0px #666;
    
}
#search_ac>div:first-child{
    width: 50%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.search_label{
    font-size: 20px;
    position: absolute;
    top: 30%;
    left: 0%;
    transform: translate(0%, -30%);
}
#search_ac>div:first-child input{
    width: 100%;
    height: 20%;
    position: absolute;
    top: 70%;
    left: 0;
    transform: translate(0%, -70%);
    border: none;
    border-bottom: 5px solid lightgray;
}
#search_ac>div:first-child i{
    font-size: 28px;
    color: lightgray;
    position: absolute;
    top: 65%;
    right: 0;
    transform: translate(0%, -65%);
    cursor: pointer;
}
#search_ac>div:last-child{
    font-size: 40px;
    position: absolute;
    top: 20%;
    right: 20%;
    transform: translate(-20%, -20%);
    
}
#search_close{
    cursor: pointer;
}

#m_menu{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 2.4em;
    color: black;
    transform: translate(0, -50%);
    cursor: pointer;
    display: none;
}

/*메인*/

main{
    width: 100%;
    height: 490%;
    position: relative;
}

/*슬라이드*/

#main_slider{
    height: 24%;
}
.ms_wrap{
    height: 100%;
    overflow: hidden;
    position: relative;
}
.slide{
    height: 100%;
    
/*    transform: translate(50%, 0);*/
}
#img01_m{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/main-visual-01-motion.jpg)no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 1s;
    animation: main_slider_01 60s linear infinite;
}
#img01_s{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/main-visual-01-fg-motion.png)no-repeat;
    background-position: center;
    background-size: cover;
    
}
@keyframes main_slider_01{
    0%{right: 0px; transform: scale(1.1)}
    100%{right: 20px; transform: scale(1.1)}
}
#light{
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -48%);
    perspective: 400px;
    transform-style: preserve-3d;
    animation: light 5s ease infinite;
}
#light img{
    position: absolute;
    transform: translate(-0, -50%);
/*    animation: onoff 5s linear infinite;*/
}
@keyframes light{
    0%{transform: rotateY(0);}
    5%{transform: rotateY(-45deg);}
    10%{transform: rotateY(-90deg);}
    15%{transform: rotateY(-135deg);}
    20%{transform: rotateY(-180deg);}
    55%{opacity: 0}
    100%{opacity: 0}
}
@keyframes onoff{
    0%{opacity: 1;}
    50%{opacity: 0.5;}
    100%{opacity: 1;}
}
.sl_tx1{
    width: auto;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    font-size: 2em;
    color: white;
}
.sl_tx2{
    width: auto;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
    font-size: 6em;
    font-weight: lighter;
    color: white;
    font-family: 'Jura';
}
.sl_tx_up1{
    animation: up1 1.6s ease 1;
}
@keyframes up1{
    0%{top: 45%; opacity: 0;}
    100%{top: 40%; opacity: 1;}
}
.sl_tx_up2{
     animation: up2 0.6s ease 1;
}
@keyframes up2{
    0%{top: 50%; opacity: 0;}
    100%{top: 45%; opacity: 1;}
}
#img02_m{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/main-visual-02.gif)no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 1s;
}

#img03_m{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/main-visual-03-v2.jpg)no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 1s;
}

#sl_btn_wrap{
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(-10%, -50%);
    color: white;
}
.sl_btn{
    width: 10px;
    height: 10px;
    cursor: pointer;
    border: 0px solid white;
    border-radius: 50%;
    background-color: #fff;
    margin-top: 20px;
}
#sl_btn_wrap>div:hover{
    background-color: #109ad6;
    transition: all 0.4s;
}
.sl_btn_on{
    width: 10px;
    height: 30px;
    cursor: pointer;
    border: 0px solid white;
    border-radius: 15px;
    background-color: #fff;
    margin-top: 20px;
    transition: all 0.6s;
}
#start{
    width: 10px;
    height: 10px;
    position: absolute;
    top: 57%;
    right: 5%;
    color: white;
    cursor: pointer;
    transform: translate(-10%, -57%);
    display: none;
}
#stop{
    width: 10px;
    height: 10px;
    position: absolute;
    top: 57%;
    right: 5%;
    color: white;
    cursor: pointer;
    transform: translate(-10%, -57%);
}
#skdw{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -80%);
    font-size: 1.6em;
    text-align: center;
    line-height: 60px;
    color: white;
    cursor: pointer;
    border: 1px solid rgba(255,255,255,0.6);
}
#skdw:hover{
    background-color: rgba(255,255,255,0.3);
    transition: all 0.4s;
}


/*컨탠츠*/

#content{
    width: 100%;
    height: 75%;
}

.sec1{
    width: 100%;
    height: 50%;
    position: relative;
    padding-top: 2%;
/*    background-color: #ff0;*/
}
#sec1_tt{
    width: 90%;
    height: auto;
    max-width: 1723px;
    position: absolute;
    left: 50%;
    padding-left: 15%;
    transform: translateX(-50%);
    font-size: 40px;
    font-weight: 600;
    color: black;
    font-family: 'Jura';
}

#sec1_mimg{
    width: 90%;
    height: 65%;
    max-width: 1723px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -0%);
    background: url(../img/main-business-03.jpg)no-repeat center right;
    background-size: 55% 100%;
    z-index: 9;
}

#sec1_1{
    width: 90%;
    height: 27%;
    max-width: 1723px;
    position: relative;
    margin: 0 auto;
    z-index: 10;
    padding-left: 15%;
}
#sec1_text{
    padding-top: 10%;
    width: auto;
    height: auto;
}
.text_ko{
    font-size: 24px;
    color: black;
}
.text_en{
    font-size: 70px;
    color: black;
    font-family: 'Jura';
}
.text_sec{
    max-width: 250px;
    font-size: 16px;
    line-height: 1.75;
    color: #666;
    display: block;
    margin-bottom: 2%;
}
#view_more{
    width: 200px;
    height: 50px;
    border: 1px solid #000;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
#view_more::before{
    content: '';
    display: block;
    width: 120%;
    height: 100%;
    position: absolute;
    left: -10px;
    top: 0;
    background-color: #000;
    transform: translateX(-101%) skewX(-17.62deg);
    backface-visibility: hidden;
    z-index: 1;
}
#view_more a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    display: block;
    z-index: 10;
}
#view_more:hover::before{
    left: 220px;
    transition: all 0.6s;
}
#view_more:hover a{
    color: white;
    transition: all 0.6s;
}

#sec1_1 figure{
    position: absolute;
    bottom: -15%;
    right: 16.5%;
/*    transform: translate(-10%, 0%);*/
}
#sec1_1 figure video{
    width: 100%;
    height: 100%;
}

#sec1_2{
    width: 90%;
    height: 27%;
    max-width: 1723px;
    position: relative;
    margin: 0 auto;
    z-index: 11;
    padding-left: 15%;
}
#sec1_2_img{
    
}
#sec2_text{
    padding-top: 10%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    right: 20%;
}
#sec2_text .text_ko{
    font-size: 24px;
    color: white;
}
#sec2_text .text_en{
    font-size: 70px;
    color: white;
    font-family: 'Jura';
}
#sec2_text .text_sec{
    max-width: 300px;
    font-size: 16px;
    line-height: 1.75;
    color: #fff;
    display: block;
    margin-bottom: 2%;
}
#sec2_text #view_more{
    width: 200px;
    height: 50px;
    border: 1px solid #fff;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
#sec2_text #view_more::before{
    content: '';
    display: block;
    width: 120%;
    height: 100%;
    position: absolute;
    left: -10px;
    top: 0;
    background-color: #fff;
    transform: translateX(-101%) skewX(-17.62deg);
    backface-visibility: hidden;
    z-index: 1;
}
#sec2_text #view_more a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    display: block;
    z-index: 10;
}
#sec2_text #view_more:hover::before{
    left: 220px;
    transition: all 0.6s;
}
#sec2_text #view_more:hover a{
    color: #000;
    transition: all 0.6s;
}

#sec1_3{
    width: 90%;
    height: 35%;
    max-width: 1723px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -0);
}
#sec1_3_img{
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: url(../img/business-colorpaste-bg.jpg)no-repeat center center;
    background-size: 100% auto;
}
#sec3_text{
    padding-top: 10%;
    width: auto;
    height: auto;
    position: absolute;
    top: 10%;
    left: 17%;
}
#sec3_text .text_ko{
    font-size: 24px;
    color: white;
    position: absolute;
}
#sec3_text .text_en{
    font-size: 70px;
    color: white;
    font-family: 'Jura';
}
#sec3_text .text_sec{
    max-width: 300px;
    font-size: 16px;
    line-height: 1.75;
    color: #fff;
    display: block;
    margin-bottom: 2%;
}
#sec3_text #view_more{
    width: 200px;
    height: 50px;
    border: 1px solid #fff;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
#sec3_text #view_more::before{
    content: '';
    display: block;
    width: 120%;
    height: 100%;
    position: absolute;
    left: -10px;
    top: 0;
    background-color: #fff;
    transform: translateX(-101%) skewX(-17.62deg);
    backface-visibility: hidden;
    z-index: 1;
}
#sec3_text #view_more a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    display: block;
    z-index: 10;
}
#sec3_text #view_more:hover::before{
    left: 220px;
    transition: all 0.6s;
}
#sec3_text #view_more:hover a{
    color: #000;
    transition: all 0.6s;
}

.text_ko_up{
    animation: tkup 5s ease 1;
/*    cubic-bezier(.42,1.76,.65,.12)*/
}

@keyframes tkup{
    0%{padding-top: 20%; opacity: 0;}
    50%{padding-top: 10%; opacity: 0.8;}
    60%{padding-top: 11%; opacity: 0.8;}
    80%{padding-top: -11%; opacity: 0.9;}
    100%{padding-top: 10%; opacity: 1;}
}

.sec2{
    width: 100%;
    height: 20%;
    padding-top: 100px;
    position: relative;
/*    background-color: #f00;*/
}
.sec2>h1{
    display: block;
    text-align: center;
    font-size: 55px;
    font-family: 'Jura';
    padding-bottom: 60px;
    color: #222;
}
#sec2_wrap{
    width: 50%;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -80%);
}
.sec2_con{
    width: 33.33%;
    padding: 0 12px;
    float: left;
/*    background-color: #ff0;*/
}
.sec2_con:nth-child(1) .s2c_img{
    width: 100%;
    height: 400px;
    background: url(../img/main-chemical-01.jpg)no-repeat center center;
    background-size: cover;
}
.sec2_con:nth-child(2) .s2c_img{
    width: 100%;
    height: 400px;
    background: url(../img/main-chemical-02.jpg)no-repeat center center;
    background-size: cover;
}
.sec2_con:nth-child(3) .s2c_img{
    width: 100%;
    height: 400px;
    background: url(../img/main-chemical-03.jpg)no-repeat center center;
    background-size: cover;
}
.s2c_text{
    padding-top: 20px;
}
.s2c_text h2{
    font-size: 24px;
    line-height: 1.65;
    color: #222;
}
.s2c_text p{
    font-size: 16px;
    line-height: 1.75;
    color: #666;
}
#site_more{
    width: 200px;
    height: 50px;
    border: 1px solid #222;
    font-size: 14px;
    font-weight: 600;
    line-height: 50px;
    position:relative;
    overflow: hidden;
    cursor: pointer;
    display: block;
    margin-top: 30px;
}
#site_more::before{
    content: '';
    display: block;
    width: 120%;
    height: 100%;
    position: absolute;
    left: -10px;
    top: 0;
    background-color: #000;
    transform: translateX(-101%) skewX(-17.62deg);
    backface-visibility: hidden;
    z-index: 1;
}
#site_more a{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-25%, -50%);
    color: black;
    display: block;
    z-index: 10;
}
#site_more a i{
    position: absolute;
    top: 50%;
    right: -80%;
    transform: translate(-50%, -50%);
}
#site_more:hover::before{
    left: 220px;
    transition: all 0.6s;
}
#site_more:hover a{
    color: white;
    transition: all 0.6s;
}

.sc1img_up{
    animation: tkup2 4s linear 1;
}
.sc2img_up{
    animation: tkup2 4.5s linear 1;
}
.sc3img_up{
    animation: tkup2 5s linear 1;
}
@keyframes tkup2{
    0%{padding-top: 30%; opacity: 0;}
    50%{padding-top: 0%; opacity: 0.8;}
    60%{padding-top: 1%; opacity: 0.8;}
    80%{padding-top: 0%; opacity: 0.9;}
    100%{padding-top: 0%; opacity: 1;}
}

.sec3{
    width: 100%;
    height: 30%;
    position: relative;
}
.sec3:hover .sec3_1_img>i{
    animation: ispin 3s ease 1;
}
#sec_bg{
    width: 90%;
    height: 30%;
    display: inline;
    position: absolute;
    margin-left: 5%;
    background: #f8f8f8;

}
.sec3 h1{
    display: block;
    text-align: center;
    font-size: 55px;
    font-family: 'Jura';
    padding-bottom: 30px;
    color: #222;
}
.sec3_1{
    width: 50%;
    height: 30%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.sec3_1>div{
    width: 33.33%;
    float: left;
    text-align: center;
    border-right: 1px solid #dfdfdf;
}
.sec3_1>div:last-child{
    border-right: none;
}
.sec3_1_img{
    font-size: 60px;
}
.sec3_1_img>i{
    color: #1c9ad6;
/*    animation: ispin 3s ease 1;*/
}
@keyframes ispin{
    0%{transform: rotate(0deg) scale(1.5);}
    1%{transform: rotate(45deg) scale(1.5);}
    2%{transform: rotate(90deg) scale(1.5);}
    3%{transform: rotate(135deg) scale(1.5);}
    4%{transform: rotate(180deg) scale(1.5);}
    5%{transform: rotate(225deg) scale(1.5);}
    6%{transform: rotate(270deg) scale(1.5);}
    7%{transform: rotate(315deg) scale(1.5);}
    8%{transform: rotate(360deg) scale(1.5);}
    9%{transform: rotate(0deg) scale(1.25);}
    10%{transform: rotate(45deg) scale(1.25);}
    12%{transform: rotate(90deg) scale(1.25);}
    13%{transform: rotate(135deg) scale(1.25);}
    14%{transform: rotate(180deg) scale(1.25);}
    15%{transform: rotate(225deg) scale(1.25);}
    16%{transform: rotate(270deg) scale(1.25);}
    17%{transform: rotate(315deg) scale(1.25);}
    18%{transform: rotate(360deg) scale(1.25);}
    19%{transform: rotate(0deg) scale(1.05);}
    20%{transform: rotate(45deg) scale(1.05);}
    22%{transform: rotate(90deg) scale(1.05);}
    23%{transform: rotate(135deg) scale(1.05);}
    24%{transform: rotate(180deg) scale(1.05);}
    25%{transform: rotate(225deg) scale(1.05);}
    26%{transform: rotate(270deg) scale(1.05);}
    27%{transform: rotate(315deg) scale(1.05);}
    28%{transform: rotate(360deg) scale(1.05);}
}
.sec3_box h2{
    font-size: 20px;
    line-height: 3;
    color: #222;
}
.sec3_box p{
    font-size: 14px;
    line-height: 1.75;
    color: #666;
}

.sec3_2{
    width: 50%;
    height: 40%;
    margin: 0 auto;
    margin-top: 0%;
    position: relative;
    top: -3%;
}
#sec3_2_wrap{
    width: 100%;
    height: 100%;
    position: relative;
}
#sec3_2_wrap:after{
    content: '';
    clear: both;
    display: block;
}
#sec3_2_wrap>div{
    float: left;
}
#s3_2_1{
    width: 50%;
    height: 100%;
    position: relative;
    background-color: #e7e7e5;
}
#s3_2_1>h3{
    height: 50%;
    font-size: 55px;
    line-height: 1.25;
    padding-left: 10%;
    padding-top: 20%;
    color: #fff;
    font-family: 'Kanit';
    font-weight: 100;
}
.s3_2_1_img{
    width: 45%;
    height: 105%;
    position: absolute;
    right: 0;
    bottom: 0;
    background: url(../img/main-recruit.png)no-repeat center center;
    background-size: 100% 100%;
    z-index: 1;
}
.s3_2_1_img_up{
    animation: s3_2_1_img_up 1s linear 1;
}
@keyframes s3_2_1_img_up{
    0%{bottom: -100%; opacity: 0;}
    50%{bottom: -70%; opacity: 0;}
    100%{bottom: 0; opacity: 1;}
}
#s3_2_1_text{
    width: 100%;
    height: 50%;
    padding-left: 10%;
    background-color: rgba(255,255,255,0.9);
    z-index: 10;
    position: relative;
}
#s3_2_1_text h2{
    display: block;
    font-size: 26px;
    color: #333;
    padding-top: 10%;
    padding-bottom: 3%;
}
.tx_ho{
    width: auto;
    font-size: 16px;
    line-height: 1.75;
    color: #333;
    font-weight: 500;
}
#s3_2_1_text p{
    width: auto;
    font-size: 16px;
    line-height: 1.75;
    color: #333;
    font-weight: 500;
    padding-bottom: 0%;
}
.tx_ho:hover{
    border-bottom: 1px solid #000;
    transition: 0.4s;
}
.s3_arrow{
    width: 35px;
    height: 35px;
    display: block;
    font-size: 14px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #aaa;
    border-radius: 50%;
    color: #aaa;
}
#s3_2_2{
    width: 50%;
    height: 100%;
    position: relative;
    background: url(../img/main-corporate.jpg)no-repeat center center;
    background-size: 100% 100%;
    padding: 1%;
}
#s3_2_2>div{
    width: 100%;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, .3);
    padding-top: 30%;
    cursor: pointer;
    transition: 0.5s;
}
#s3_2_2>div:hover{
    box-shadow: inset 0 0 0 5px rgba(255, 255, 255, .5);
}
#s3_2_2_text{
    text-align: center;
    color: white;
}
#s3_2_2_text h3{
    font-size: 16px;
}

#s3_2_2_text .tx_ho2{
    font-size: 55px;
    color: white;
    font-family: 'Kanit';
    line-height: 1.25;
}
#s3_2_2_text .s3_arrow{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    border: 1px solid #fff;
}

.sec3_3{
    width: 100%;
    height: 30%;
    margin: 0 auto;
}
.sec3_3_top{
    width: 50%;
    height: 70%;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}
.sec3_3_top h3{
    font-size: 47px;
    text-align: center;
    font-family: 'Kanit';
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #333;
}

.sec3_3_top_1{
    width: 100%;
    height: 30%;
    position: relative;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    background-color: #fff;
}
.sec3_3_top_1:hover{
    border-bottom: 1px solid #71d2ff;
}
.sec3_3_top_1:hover .sec3_3_date{
    color: #71d2ff;
}
.sec3_3_top_1:hover .s3_3_arrow{
    color: #71d2ff;
    border: 1px solid #71d2ff;
    transform: scale(0.9) translateY(-50%);
    transition: 0.4s;
}
.sec3_3_top_1:after{
    content: '';
    clear: both;
    display: block;
}
.sec3_3_top_1>div{
    float: left;
}
.sec3_3_date{
    width: 10%;
    text-align: center;
    color: #ddd;
    font-size: 18px;
    line-height: 1.2;
}
.sec3_3_date span{
    font-size: 48px;
}
.sec3_3_text{
    width: 80%;
    padding-top: 10px;
}
.sec3_3_text span{
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    padding: 0 17px;
    color: #1c9ad6;
    border: 1px solid #1c9ad6;
    line-height: 1.75;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
.sec3_3_text h2{
    max-width: calc(100% - 85px);
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    line-height: 1.75;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    text-indent: 20px;
}
.sec3_3_text p{
    width: 100%;
    display: block;
    font-size: 16px;
    line-height: 1.75;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
.s3_3_arrow{
    display: block;
    width: 50px;
    height: 50px;
    display: block;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    border: 1px solid #aaa;
    border-radius: 50%;
    color: #aaa;
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
}

.sec3_3_top_2{
    width: 100%;
    height: 30%;
    position: relative;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}
.sec3_3_top_2:hover{
    border-bottom: 1px solid #71d2ff;
}
.sec3_3_top_2:hover .sec3_3_date{
    color: #71d2ff;
}
.sec3_3_top_2:hover .s3_3_arrow{
    color: #71d2ff;
    border: 1px solid #71d2ff;
    transform: scale(0.9) translateY(-50%);
    transition: 0.4s;
}
.sec3_3_top_2:after{
    content: '';
    clear: both;
    display: block;
}
.sec3_3_top_2>div{
    float: left;
}
#list_more{
    width: 80px;
    height: 60px;
    border: 1px solid #222;
    font-size: 16px;
    font-weight: 600;
    line-height: 50px;
    position:relative;
    overflow: hidden;
    cursor: pointer;
    display: block;
    margin-top: 10px;
    left: 50%;
    transform: translateX(-50%);
}
#list_more::before{
    content: '';
    display: block;
    width: 150%;
    height: 100%;
    position: absolute;
    left: -10px;
    top: 0;
    background-color: #000;
    transform: translateX(-101%) skewX(-17.62deg);
    backface-visibility: hidden;
    z-index: 1;
}
#list_more a{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-25%, -50%);
    color: black;
    display: block;
    z-index: 10;
}
#list_more:hover::before{
    left: 100px;
    transition: all 0.6s;
}
#list_more:hover a{
    color: white;
    transition: all 0.6s;
}
.sec3_3_bot{
    width: 50%;
    height: 23%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 7%;
}
.sec3_3_bot:after{
    content: '';
    clear: both;
    display: block;
}
.sec3_3_bot>div{
    float: left;
}
.sec3_3_bot_1{
    width: 50%;
    height: 100%;
    border-right: 1px solid #ddd;
}
.sec3_3_bot_1>div:first-child{
    display: block;
    padding-bottom: 12px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    color: #333;
}
.sec3_3_bot_1>div:last-child span{
    float: left;
}
.sec3_3_bot_1>div:last-child #sp1{
    width: 40%;
    display: inline-block;
    font-size: 45px;
    line-height: 1;
    font-weight: 200;
    color: #1c9ad6;
}
.sec3_3_bot_1>div:last-child #sp2{
    width: 60%;
    display: inline-block;
    padding-top: 14px;
    font-size: 17px;
    line-height: 1;
    font-weight: 300;
    text-align: right;
    color: #888;
    padding-right: 10%;
}
.sec3_3_bot_1>div:last-child i{
    color: #ec429a;
}

.sec3_3_bot_2{
    width: 50%;
    height: 100%;
    position: relative;
    padding-left: 5%;
}
.sec3_3_bot_2 h2{
    display: block;
    padding-bottom: 12px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    color: #333;
}
.sec3_3_bot_2 ul{
    width: 100%;
}
.sec3_3_bot_2 ul li{
    display: block;
    font-size: 16px;
    color: #666;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.sec3_3_bot_2 ul li:hover a span{
    color: #1c9ad6;
    transition: 0.4s;
}
.sec3_3_bot_2 ul time{
    position: absolute;
    right: 5%;
}


/*풋터*/

footer{
    width: 100%;
    height: 70%;
    padding-top: 5%;
    position: relative;
/*    background-color: #ff0;*/
}

.footer_top{
    width: 100%;
    height: 50%;
    position: relative;
    cursor: pointer;
}
.footer_top{
    content: '';
    clear: both;
    display: block;
}
.footer_top>div{
    float: left;
}
#ft_1{
    width: 50%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
#ft_1:hover .ft_img{
    transform: scale(1.1);
}
#ft_1 .ft_img{
    width: 100%;
    height: 100%;
    display: block;
    background: url(../img/main-banner-office.jpg)no-repeat center center;
    background-size: 101% 101%;
    transition: all 1.6s;
}
.ft_text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}
.ft_text>p:nth-child(1){
    font-size: 15px;
    font-weight: 600;
}
.ft_text>p:nth-child(2){
    padding-top: 7px;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.25;
    font-family: 'Kanit';
}
#ft_2{
    width: 50%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
#ft_2:hover .ft_img{
    transform: scale(1.1);
}
#ft_2 .ft_img{
    width: 100%;
    height: 100%;
    display: block;
    background: url(../img/main-banner-factory.jpg)no-repeat center center;
    background-size: 101% 101%;
    transition: all 1.6s;
}

.footer_bot{
    width: 100%;
    height: 50%;
    padding: 58px 0 110px;
    position: relative;
    background-color: #333;
}
.fb_1{
    width: 50%;
    margin: 0 auto;
}
.fb_1 nav{
    padding-bottom: 26px;
    margin-bottom: 35px;
    border-bottom: 1px solid rgba(255, 255, 255, .1)
}
.fb_1 nav ul:after{
    content: '';
    clear: both;
    display: block;
}
.fb_1 nav ul li{
    float: left;
}
.fb_1 nav ul li a{
    display: block;
    margin-right: 20px;
    font-size: 15px;
    color: #aaa;
    transition: all 0.3s;
}
.fb_1 nav ul li a:hover{
    color: white;
}
.fb_1 nav ul li:last-child a{
    color: white;
    transition: all 0.3s;
}
.fb_1 nav ul li:last-child a:hover{
    color: #aaa;
}

.ft_2{
    width: 50%;
    margin: 0 auto;
    position: relative;
}
#fb_icon{
    width: 210px;
    position: absolute;
    top: 4px;
    right: 42px;
    cursor: pointer;
}
.fb_icon_1{
    width: 100%;
    height: 20px;
    display: block;
    margin-bottom: 20px;
}
.fb_icon_1:after{
    content: '';
    clear: both;
    display: block;
}
.fb_icon_1 img{
    height: 20px;
    float: left;
}
.fb_icon_1 img:first-child{
    width: 30%;
    margin-right: 5%;
}
.fb_icon_1 img:last-child{
    width: 50%;
}
.fb_icon_2{
    width: 100%;
    height: 20px;
    display: block;
    margin-bottom: 20px;
}
.fb_icon_2:after{
    content: '';
    clear: both;
    display: block;
}
.fb_icon_2 img{
    height: 20px;
    float: left;
}
.fb_icon_2 img:first-child{
    width: 25%;
    margin-right: 10%;
}
.fb_icon_2 img:last-child{
    width: 65%;
}
.ft_2 p{
    padding-bottom: 9px;
    line-height: 1;
}
.ft_2 p span{
    display: inline-block;
    padding-right: 12px;
    position: relative;
    vertical-align: middle;
    line-height: 1.6;
    font-size: 13px;
    color: #9a9a9a;
}
.ft_2 p span a{
    font-size: 13px;
    color: #9a9a9a;
    transition: all 0.3s;
}
.ft_2 p span a:hover{
    color: white;
}
.ft_2 p:last-child{
    padding-top: 20px;
    padding-bottom: 0;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.015em;
}

.gtt{
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 15px;
    right: 5%;
    font-size: 1.6em;
    text-align: center;
    line-height: 60px;
    color: white;
    background-color: #222;
    cursor: pointer;
    z-index: 100;
    display: none;
}
.gtt:hover{
    background-color: #1c9ad6;
    transition: all 0.4s;
}
.gtt_ab{
    display: block;
    width: 59px;
    height: 59px;
    position: absolute;
    top: -22px;
    right: 5%;
    cursor: pointer;
    background: #222;
}





















