html,body{
    height: 100%;
}

/*헤더*/

header{
    width: 90%;
    height: 90px;
    position: fixed;
    top: 20px;
    left: 5%;
    transition: all 0.4s;
    z-index: 100;
}
.hd_big{
    width: 100%;
    top: 0;
    left: 0%;
}
#header_wrap{
    width: 100%;
    height: 100%;
    position: relative;
}
#menu_bg{
    width: 100%;
    height: 288px;
    position: absolute;
    background-color: rgba(0,0,0,0.75);
    top: 90px;
    left: 0;
    overflow: hidden;
}
#menu_bg>span{
    position: absolute;
    top: 17%;
    right: 5%;
    font-size: 220px;
    font-weight: bold;
    font-family: 'Varela Round';
    opacity: 0.5;
}
#logo{
    width: 180px;
    height: 90px;
    position: absolute;
    top: 20px;
    left: 50px;
    z-index: 100;
}
#logo>a{
    width: 100%;
    height: 100%;
    color: #109ad6;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Cute+Font','Varela Round';      
}
#logo>a>span{
    font-size: 2em;
    flow-from: 'Varela Round';
}
#menu{
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: relative;
}
#menu_u{
    width: 100%;
/*    background-color: #fff;*/
}
/*
#menu_u:after{
    content: '';
    clear: both;
    display: block;
}
*/
#menu_u>li{
    width: 8%;
    float: left;
    text-align: center;
    display: block;
/*    background-color: #fff;*/
}
#menu_u>li:first-child{
    margin-left: 26%;
}
#menu_u>li>a{
    font-size: 18px;
    font-weight: 600;
    line-height: 90px;
}
#menu_u>li>ul{
    width: 100%;
    height: 288px;
    top: 90px;
    left: 0;
    background-color: rgba(0,0,0,0.0);
/*    border-right: 1px solid #fff;*/
}
#menu_u>li>ul>li{
    width: 100%;
}
#menu_u>li>ul>li>a{
    font-size: 16px;
    line-height: 270%;
    font-weight: 550;
    color: gray;
    display: block;
}
#menu_u>li>ul>li>a:hover{
    color: white;
}
#search{
    width: auto;
    height: auto;
    font-size: 18px;
    color: black;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(-10%, -50%);
    cursor: pointer;
}
#search_ac{
    width: 100%;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    
}
#search_ac>div:first-child{
    width: 50%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.search_label{
    font-size: 20px;
    position: absolute;
    top: 30%;
    left: 0%;
    transform: translate(0%, -30%);
}
#search_ac>div:first-child input{
    width: 100%;
    height: 20%;
    position: absolute;
    top: 70%;
    left: 0;
    transform: translate(0%, -70%);
    border: none;
    border-bottom: 5px solid lightgray;
}
#search_ac>div:first-child i{
    font-size: 28px;
    color: lightgray;
    position: absolute;
    top: 65%;
    right: 0;
    transform: translate(0%, -65%);
    cursor: pointer;
}
#search_ac>div:last-child{
    font-size: 40px;
    position: absolute;
    top: 20%;
    right: 20%;
    transform: translate(-20%, -20%);
    
}
#search_close{
    cursor: pointer;
}

#m_menu{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 2.4em;
    color: black;
    transform: translate(0, -50%);
    cursor: pointer;
    display: none;
}

/*메인*/

main{
    height: 100%;
}

/*슬라이드*/

#main_slider{
    height: 100%;
}
.ms_wrap{
    height: 100%;
}
#slide01{
    height: 100%;
    position: relative;
    overflow: hidden;
/*    transform: translate(50%, 0);*/
}
#img_m{
     width: 100%;
     height: 100%;
     position: relative;
     background: url(../img/main-visual-01-motion.jpg)no-repeat;
     background-position: center;
     background-size: cover;
     transition: all 1s;
     animation: main_slider_01 60s linear infinite;
}
#img_s{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/main-visual-01-fg-motion.png)no-repeat;
    background-position: center;
    background-size: cover;
    
}
@keyframes main_slider_01{
    0%{right: 0px; transform: scale(1.1)}
    100%{right: 20px; transform: scale(1.1)}
}
#light{
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -48%);
    perspective: 400px;
    transform-style: preserve-3d;
    animation: light 1s linear infinite;
}
#light img{
    position: absolute;
    transform: translate(-0, -50%);
/*    animation: onoff 5s linear infinite;*/
}
@keyframes light{
    0%{transform: rotateY(0);}
    5%{transform: rotateY(-45deg);}
    10%{transform: rotateY(-90deg);}
    15%{transform: rotateY(-135deg);}
    20%{transform: rotateY(-180deg);}
    40%{opacity: 0}
    55%{opacity: 0}
    100%{opacity: 0}
}
@keyframes onoff{
    0%{opacity: 1;}
    50%{opacity: 0.5;}
    100%{opacity: 1;}
}
.sl_tx1{
    width: auto;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    font-size: 2em;
    color: white;
}

#test{
    width: 100%;
    height: 100%;
    background-color: #000;
}












