*{padding: 0; margin: 0;}
li {list-style: none;}
a:link,a:visited{text-decoration: none; color: #000000;}
/*body {margin: 0 auto;}*/
header {width: 100%;}
header h1 {text-align: center; width: 100%; height: 40px;  border-top: 1px solid gray;}
#login {width: 980px; height: 20px; margin: 0 auto;}
#login ul {width: 250px; float: right;}
#login li {width: 60px; float: left; font-size: 12px; border-right: 1px solid #000; text-align: center;}
#login li:last-child {border-right: none;}
#menu {width: 100%; height: 30px; background-color: dodgerblue}
#menu ul {width: 980px; margin: 0 auto;}
#menu li {width: 16.5%; float: left; font-size: 16px; text-align: center; line-height: 30px; display: block; display: block;}
#banner {width: 100%; height: 300px; position: relative; background: url(../img/banner.jpg)no-repeat; background-size: cover;}
#banbox {width: 980px; height: 300px; margin: 0 auto; position: relative;}
#pi {width: 200px; height: 300px; background: url(../img/pi.png)no-repeat top left; background-size: 100% 100%; position: absolute; right: 50px;}
#banner strong {width: 300px; height: 30px; position: relative; top: 50px; left: 5%; font-size: 72px; color: white; line-height: 60px;}
#txt1 {width: 300px; height: 50px; position: absolute; top: 180px; left: 5%; font-size: 14px; color: white;}