html,body{
    width: 100%;
    height: 100%;
}
header{
    width: 30%;
    height: 10%;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    background-color: #fff;
    z-index: 10;
}
main{
    width: 100%;
    height: 100%;
}
main .page{
    width: 100%;
    height: 100%;
    position: relative;
}
.page:nth-child(1){
    background-image: url(../img/social-networking-2187996_1920.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    background-attachment: fixed;
}
#top_red{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#content{
    width: 50%;
    height: 100%;
    background-color: rgba(255,255,255,0.5);;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#top_red:before{
    content: '';
    position: relative;
    top: -2%;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 0vh solid transparent;
    border-left: 30vh solid rgba(255,0,0,0.3);
    border-right: 0vh solid transparent;
    border-bottom: 20vh solid transparent;  
}
#top_red:after{
    content: '';
    position: absolute;
    top: 10%;
    right: 0;
    width: 70%;
    height: 100%;
    border-top: 100vh solid transparent;
    border-left: 0vh solid transparent;
    border-right: 100vh solid rgba(255,0,0,0.3);
    border-bottom: 0vh solid transparent;  
}









