html,body{
    width: 100%;
    height: 100%;
}

.dnone{
    display: none;
}

/*헤더영역*/

header{
    width: 20%;
    height: 30%;
    top: 0%;
    left: 0%;
    position: fixed;
    background-color: rgba(0,0,0,0.0);
    z-index: 10;
}

.logo{
    width: 100px;
    height: 100px;
    background: url(../logo/logo_07.png)no-repeat;
    background-size: cover;
    position: relative;
    top: 0%;
    left: 10%;
}
.logo_sm{
    width: 50px;
    height: 50px;
    background: url(../logo/logo_09.png)no-repeat;
    background-size: cover;
    position: relative;
    top: 0%;
    left: 5%;
}

#menu{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
}
#menu>li{
    font-family: Montserrat;
    font-size: 0.6vw;
    font-weight: 600;
    line-height: 300%;
    letter-spacing: 0.3vh;
    margin-left: 12%;
    text-align: left;
    color: black;
    display: block;
}
#menu>li>span{
    cursor: pointer;
}
#menu>li:hover .num{
    border-bottom: 1.3px solid black;
    transition: all 1s;
}
.on{
    border-bottom: 1.3px solid black;
}


/*홈 영역*/

main{
    width: 100%;
    height: 100%;
}
main .page{
    width: 100%;
    height: 100%;
    position: relative;
}
.page:nth-child(1){
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
/*    background: url(../img/computer-1245714_1920.jpg)no-repeat;*/
    background-size: cover;
    background-attachment: fixed;
}
#video1{
    width: 115%;
    height: 115%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    background-attachment: fixed;
}
#top_red{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#fe_tt{
    width: 80%;
    height: 10%;
    position: absolute;
    top: 85%;
    left: 95%;
    transform: translate(-95%, -85%);
    color: white;
    font-size: 5.2vh;
    text-align: right;
    font-weight: bold;
    font-family: Montserrat;
    letter-spacing: 0.5vh;
}
#fe_tt>span:nth-child(1){
    color: rgba(160,160,160,1);
    background-color: #fff;
}
#fe_by{
/*    width: 60%;*/
    height: 5%;
/*    background-color: rgba(255,255,5,0.5);*/
    position: absolute;
    bottom: 0%;
    right: 2%;
    transform: translate(0,0);
    font-family: Gaegu;
    font-size: 1.4vw;
    text-align: left;
    color: black;
/*    text-shadow: 1px 1px 1px black;*/
}
#top_red:before{
    content: '';
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 0vh solid transparent;
    border-left: 30vh solid rgba(160,160,160,0.3);
    border-right: 0vh solid transparent;
    border-bottom: 50vh solid transparent;  
}
#top_red:after{
    content: '';
    position: absolute;
    top: 10%;
    right: 0;
    width: 70%;
    height: 100%;
    border-top: 100vh solid transparent;
    border-left: 0vh solid transparent;
    border-right: 100vh solid rgba(205,255,255,0.3);
    border-bottom: 0vh solid transparent;  
}


/*스킬 영역*/

#page2_wrap{
    width: 100%;
    height: 100%;
    position: relative;
/*    background-color: rgba(128, 222, 229,0.3);*/
    background: url(../img/computer-1245714_1920.jpg)no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
#ch_wrap{
    width: 900px;
    height: 900px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: rgba(128, 222, 229,0.2);
}
#ch7{
    width: 100%;
    height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #454547;
    border-radius: 50%;
}
#ch7>span{
    width: 40px;
    height: 65px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.2vh;
    color: white;
    text-align: center;
}
.ch{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: Center;
    cursor: Default;
    display: inline-block;
}

#ch_tt{
    margin: 0 auto;
    overflow: hidden;
    float: right;
    position: relative;
    top: 45%;
    right: 5%;
}
.ch_tx{
    width: 100px;
    height: 50px;
    position: relative;
    right: -200px;
    text-align: center;
    color: white;
    border-radius: 15px 15px 15px 15px;
    font-size: 0.9rem;
    font-weight: bold;
}
.ct_tx_d{
    right:0px;
}
#ch1_tx{
    background: #e5d714;
    transition: 0.8s;
}
#ch2_tx{
    background: #448c4a;
    transition: 1s;
}
#ch3_tx{
    background: #36c4ea;  
    transition: 1.2s;
}
#ch4_tx{
    background: #ffa500;  
    transition: 1.4s;

}
#ch5_tx{
    background: #9932c9;
    transition: 1.6s;

}
#ch6_tx{
    background: #e8277a;
    transition: 1.8s;
}
.ch B{
    Margin:          0% 0%;
    Width:           100%;
    Position:        Absolute;
    bottom: 21%;
    left: -1%;
    Text-align:      Center;
    Display:         Inline-Block;
    Color:           RGBa(0,0,0,.8);
    Font-Weight:     100;
    Font-Family:     "Open Sans", Arial;
    White-Space:     NoWrap;
    Text-Overflow:   Ellipsis;
}
.ch SPAN{
    Margin:          -40% 23%;
    Width:           54%;
    Position:        Absolute;
    top: %;
    Text-align:      Center;
    Display:         Inline-Block;
    Color:           RGBa(0,0,0,.8);
    Font-Weight:     100;
    Font-Family:     "Open Sans", Arial;
    Overflow:        Hidden;
    White-Space:     NoWrap;
    Text-Overflow:   Ellipsis;
    display: none;
}
.ch[data-style="Semi"] B{
    Margin:          0 20%;
    Width:           80%;
}
.ch S,
.ch U{
    Text-Decoration: None;
    Font-Size:       .5em;
    Opacity:         .5;
}

.ch B{
    Color:           white;
    Font-Weight:     bold;
    Font-Size:       1.3em;
    Opacity:         .8;
}


/*포트폴리오 영역*/

.page3{
    position: relative;
    background: url(../img/desk-3139127_1920.jpg)no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
#po_wrap{
    width: 80%;
    height: 60%;
    position: relative;
    top: 20%;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.5);
}
#po_wrap span{
    width: 100%;
    height: 10%;
    display: block;
    text-align: center;
    color: black;
    font-size: 4.8vh;
    font-weight: bold;
    font-family: Montserrat;
}
#po_sec{
    width: 100%;
    height: 90%;
    background-color: lightgray;
}
#po_sec div{
    width: 30%;
    height: 45%;
    float: left;
    background-color: #fff;
    margin: 1%;
    margin-left: 2%;
}























