html,body{
    width: 100%;
    height: 100%;
}

.dnone{
    display: none;
}

/*헤더영역*/

header{
    width: 20%;
    height: 30%;
    top: 0%;
    left: 0%;
    position: fixed;
/*    background-color: rgba(0,0,0,0.7);*/
    z-index: 10;
}

#logo{
    
}

#menu{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
}
#menu>li{
    width: auto;
    height: 100%;
    font-family: Montserrat;
    font-size: 0.6vw;
    font-weight: 600;
    line-height: 300%;
    letter-spacing: 0.3vh;
    margin-left: 12%;
    text-align: left;
    cursor: pointer;
    color: black;
}
#menu>li:hover .num{
    border-bottom: 1.3px solid black;
    transition: all 1s;
}
.on{
    border-bottom: 1.3px solid black;
}


/*홈 영역*/

main{
    width: 100%;
    height: 100%;
}
main .page{
    width: 100%;
    height: 100%;
    position: relative;
}
.page:nth-child(1){
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
#video1{
    width: 110%;
    height: 110%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    background-attachment: fixed;
}
#top_red{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#content{
    width: 60%;
    height: 10%;
/*    background-color: rgba(255,255,5,0.5);*/
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%,0);
    font-family: Hi Melody;
    font-size: 2vw;
    text-align: right;
    color: black;
/*    text-shadow: 1px 1px 1px black;*/
}
#top_red:before{
    content: '';
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 0vh solid transparent;
    border-left: 30vh solid rgba(0,0,0,0.3);
    border-right: 0vh solid transparent;
    border-bottom: 50vh solid transparent;  
}
#top_red:after{
    content: '';
    position: absolute;
    top: 10%;
    right: 0;
    width: 70%;
    height: 100%;
    border-top: 100vh solid transparent;
    border-left: 0vh solid transparent;
    border-right: 100vh solid rgba(205,255,255,0.3);
    border-bottom: 0vh solid transparent;  
}


/*스킬 영역*/

#page2_wrap{
    width: 100%;
    height: 100%;
    position: relative;
/*    background-color: #000;*/
}
#ch_wrap{
    width: 80%;
    height: 80%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255,0,0,0.5);
}
#ch7{
    width: 180px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    border-radius: 50%;
}
/*
#ch2{
    width: 125px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 54.5%;
    transform: translate(-50%, -50%);
    background-color: yellow;
    border-radius: 0 125px 125px 0;
}
*/
.ch{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: Center;
    overflow: Hidden;
    cursor: Default;
    display: inline-block;
}
.ch B{
    Margin:          0 23%;
    Width:           54%;
    Position:        Absolute;
    top: 20%;
    Text-align:      Center;
    Display:         Inline-Block;
    Color:           RGBa(0,0,0,.8);
    Font-Weight:     100;
    Font-Family:     "Open Sans", Arial;
    Overflow:        Hidden;
    White-Space:     NoWrap;
    Text-Overflow:   Ellipsis;
}
.ch SPAN{
    Margin:          -40% 23%;
    Width:           54%;
    Position:        Absolute;
    top: %;
    Text-align:      Center;
    Display:         Inline-Block;
    Color:           RGBa(0,0,0,.8);
    Font-Weight:     100;
    Font-Family:     "Open Sans", Arial;
    Overflow:        Hidden;
    White-Space:     NoWrap;
    Text-Overflow:   Ellipsis;
    display: none;
}
.ch[data-style="Semi"] B{
    Margin:          0 20%;
    Width:           80%;
}
.ch S,
.ch U{
    Text-Decoration: None;
    Font-Size:       .5em;
    Opacity:         .5;
}

.ch B{
    Color:           white;
    Font-Weight:     bold;
    Font-Size:       1.2em;
    Opacity:         .8;
}






























