/*미디어 커리*/

@media screen and (min-width:2000px){

}

@media screen and (min-width:1600px) and (max-width:1999px){
    
}


@media screen and (min-width:1280px) and (max-width:1599px){
    .play{
    width: 300px;
    height: 80px;
    font-size: 40px;
    display: block;
    position: absolute;
    top: 50%;
    left: 20%;
    color: white;
    transform: translate(-50%, -50%);;
}
    .play strong:nth-child(1){
    position: absolute;
    left: 0;
    animation: play_strong1 2s linear 1;
}
.play strong:nth-child(2){
    position: absolute;
    left: 10%;
    animation: play_strong2 2.3s linear 1;
}
.play strong:nth-child(3){
    position: absolute;
    left: 20%;
    animation: play_strong3 2.6s linear 1;
}
.play strong:nth-child(4){
    position: absolute;
    left: 30%;
    animation: play_strong4 2.9s linear 1;
}
    .cube{
    width: 300px;
    height: 80px;
    font-size: 40px;
    display: block;
    position: absolute;
    top: 50%;
    left: 81%;
    color: white;
    transform: translate(-50%, -50%);
}
.cube strong:nth-child(1){
    position: absolute;
    left: 55%;
    animation: cube_strong1 5s linear infinite;
}
.cube strong:nth-child(2){
    position: absolute;
    left: 65%;
    animation: cube_strong2 5s linear infinite;
}
.cube strong:nth-child(3){
    position: absolute;
    left: 75%;
    animation: cube_strong3 5s linear infinite;
}
.cube strong:nth-child(4){
    position: absolute;
    left: 85%;
    animation: cube_strong4 5s linear infinite;
}
    .pick{
    width: 300px;
    height: 80px;
    font-size: 40px;
    display: block;
    position: absolute;
    top: 50%;
    left: 20%;
    color: white;
    transform: translate(-50%, -50%);;
}
.pick strong:nth-child(1){
    position: absolute;
    left: 0%;
    animation: pick_strong1 2s linear 1;
}
.pick strong:nth-child(2){
    position: absolute;
    left: 10%;
    animation: pick_strong2 2.3s linear 1;
}
.pick strong:nth-child(3){
    position: absolute;
    left: 15%;
    animation: pick_strong3 2.6s linear 1;
}
.pick strong:nth-child(4){
    position: absolute;
    left: 25%;
    animation: pick_strong4 2.9s linear 1;
}
    .puzzle{
    width: 300px;
    height: 80px;
    font-size: 40px;
    display: block;
    position: absolute;
    top: 50%;
    left: 81%;
    color: white;
    transform: translate(-50%, -50%);
}
.puzzle strong:nth-child(1){
    position: absolute;
    left: 55%;
    animation: puzzle_strong1 2s linear infinite;
}
.puzzle strong:nth-child(2){
    position: absolute;
    left: 65%;
    animation: puzzle_strong2 2s linear infinite;
}
.puzzle strong:nth-child(3){
    position: absolute;
    left: 75%;
    animation: puzzle_strong3 2s linear infinite;
}
.puzzle strong:nth-child(4){
    position: absolute;
    left: 85%;
    animation: puzzle_strong4 2s linear infinite;
}
.puzzle strong:nth-child(5){
    position: absolute;
    left: 95%;
    animation: puzzle_strong5 2s linear infinite;
}
.puzzle strong:nth-child(6){
    position: absolute;
    left: 105%;
    animation: puzzle_strong6 2s linear infinite;
}
}

@media screen and (min-width:1024px) and (max-width:1279px){
    
/*헤더영역*/
    
#menu>li{
    font-family: Montserrat;
    font-size: 1vw;
    font-weight: 600;
    line-height: 300%;
    letter-spacing: 0.3vh;
    margin-left: 12%;
    text-align: left;
    color: black;
    display: block;
}
    
/*홈 영역*/
    
#hello{
    width: 50%;
    height: 7%;
    position: absolute;
    top: 70.3%;
    right: 0%;
    background: url(../img/hello.gif)no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
#fe_tt{
/*    width: 80%;*/
    height: 10%;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -10%);
    color: white;
    font-size: 6.6vh;
    text-align: right;
    font-weight: bold;
    font-family: Montserrat;
    letter-spacing: 0.5vh;
}
#fe_by{
/*    width: 60%;*/
    height: 5%;
/*    background-color: rgba(255,255,5,0.5);*/
    position: absolute;
    bottom: 0%;
    right: 2%;
    transform: translate(0,0);
    font-family: Gaegu;
    font-size: 2vw;
    text-align: left;
    color: black;
/*    text-shadow: 1px 1px 1px black;*/
}
    
/*포트폴리오 영역*/
    
#po_wrap{
    width: 100%;
    height: 70%;
    position: relative;
    top: 20%;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.5);
}
    
/*컨택트 영억*/
    
#con_wrap{
    width: 80%;
    height: 65%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(29,31,33,1);
    background: url(../img/envelope-3172770_1280.png)no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
}

@media screen and (min-width:780px) and (max-width:1023px){
    
}

@media screen and (min-width:640px) and (max-width:779px){
    
}

@media screen and (min-width:480px) and (max-width:639px){
    
}

@media screen and (max-width:479px){
    
/*헤더영역*/

header{
    width: 20%;
    height: 30%;
    top: 0%;
    left: 0%;
    position: fixed;
    background-color: rgba(0,0,0,0.0);
    z-index: 10;
}
.header_sm{
    width: 50%;
    height: 30%;
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: rgba(0,0,0,0.0);
    z-index: 10;
    transition: 0.8s;
}
.header_la{
    width: 100%;
    height: 5%;
    position: fixed;
    left: 0%;
    top: 0px;
    background-color: rgba(255,255,255,0.6);
    z-index: 10;
    transition: 0.8s;
}
.logo{
    width: 100px;
    height: 100px;
    background: url(../logo/logo_07.png)no-repeat;
    background-size: cover;
    position: relative;
    top: 0%;
    left: 0%;
}
.logo_sm{
    width: 30px;
    height: 30px;
    background: url(../logo/logo_09.png)no-repeat;
    background-size: cover;
    position: absolute;
    top: 0%;
    left: 0%;
}
#menu{
    width: 100%;
    height: 100%;
    position: relative;
    top: 70%;
    transform: translateY(-20%);
    margin: 0 auto;
/*    display: none;*/
    
}
#menu>li{
    font-family: Montserrat;
    font-size: 6px;
    font-weight: 600;
    line-height: 300%;
    letter-spacing: 0.3vh;
    margin-right: 2.5%;
    margin-left: 0%;
    text-align: left;
    color: black;
    display: block;
}
.menu_li_la{
    float: left;
}
/*
#menu2{
    display: none;
    position: relative;
    clear: both;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 100;
}
#menu_btn{
    width: 30px;
    height: 30px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 10;
    cursor: pointer;
}
*/
    
/*홈 영역*/
    
#hello{
    width: 100%;
    height: 7%;
    position: absolute;
    top: 75.3%;
    right: 0%;
    background: url(../img/hello.gif)no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
#fe_tt{
/*    width: 80%;*/
    height: 10%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -25%);
    color: white;
    font-size: 6.6vh;
    text-align: right;
    font-weight: bold;
    font-family: Montserrat;
    letter-spacing: 0.5vh;
}
#fe_by{
/*    width: 60%;*/
    height: 5%;
/*    background-color: rgba(255,255,5,0.5);*/
    position: absolute;
    bottom: 2%;
    right: 2%;
    transform: translate(0,0);
    font-family: Gaegu;
    font-size: 4vw;
    text-align: left;
    color: black;
/*    text-shadow: 1px 1px 1px black;*/
}
    
/*스킬 영역*/
    
#ch_wrap{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
/*    background-color: rgba(128, 222, 229,0.2);*/
}
#ch7{
    width: 100%;
    height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #454547;
    border-radius: 50%;
}
#ch7>span{
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.2vh;
    color: white;
    text-align: center;
}
#ch_wrap>div:nth-child(1), #ch_wrap>div:nth-child(2), #ch_wrap>div:nth-child(3), #ch_wrap>div:nth-child(4), #ch_wrap>div:nth-child(5), #ch_wrap>div:nth-child(6){
        display: none;
    }
#ch_wrap>div:nth-child(7), #ch_wrap>div:nth-child(8), #ch_wrap>div:nth-child(9), #ch_wrap>div:nth-child(10), #ch_wrap>div:nth-child(11), #ch_wrap>div:nth-child(12){
        display: block;
    }
.ch_sm{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: Center;
    cursor: Default;
    display: inline-block;
}

#ch_tt{
    margin: 0 auto;
    overflow: hidden;
    float: right;
    position: fixed;
    top: -10%;
    right: 0%;
}
.ch_tx{
    width: 80px;
    height: 80px;
    position: relative;
    right: -200px;
    text-align: center;
    color: white;
    border-radius: 50%;
    font-size: 0.65rem;
    font-weight: bold;
    line-height: 30px;
    padding-top: 10px;
    cursor: context-menu;
}
.ct_tx_d{
    right:0px;
}
#ch1_tx{
    background: #e5d714;
    transition: 0.9s;
    box-shadow: inset 0px 0px 5px 0px #fff;
}
#ch2_tx{
    background: #448c4a;
    transition: 1.1s;
    box-shadow: inset 0px 0px 5px 0px #fff;
}
#ch3_tx{
    background: #36c4ea;  
    transition: 1.3s;
    box-shadow: inset 0px 0px 5px 0px #fff;
}
#ch4_tx{
    background: #ffa500;  
    transition: 1.5s;
    box-shadow: inset 0px 0px 5px 0px #fff;
}
#ch5_tx{
    background: #9932c9;
    transition: 1.7s;
    box-shadow: inset 0px 0px 5px 0px #fff;
}
#ch6_tx{
    background: #e8277a;
    transition: 1.9s;
    box-shadow: inset 0px 0px 5px 0px #fff;
}
.ch_sm B{
    Margin:          0% 0%;
    Width:           100%;
    Position:        Absolute;
    bottom: 21%;
    left: -1%;
    Text-align:      Center;
    Display:         Inline-Block;
    Color:           RGBa(0,0,0,.8);
    Font-Weight:     100;
    Font-Family:     "Open Sans", Arial;
    White-Space:     NoWrap;
    Text-Overflow:   Ellipsis;
}
.ch_sm SPAN{
    Margin:          -40% 23%;
    Width:           54%;
    Position:        Absolute;
    top: %;
    Text-align:      Center;
    Display:         Inline-Block;
    Color:           RGBa(0,0,0,.8);
    Font-Weight:     100;
    Font-Family:     "Open Sans", Arial;
    Overflow:        Hidden;
    White-Space:     NoWrap;
    Text-Overflow:   Ellipsis;
    display: none;
}
.ch_sm[data-style="Semi"] B{
    Margin:          0 20%;
    Width:           80%;
}
.ch_sm S,
.ch_sm U{
    Text-Decoration: None;
    Font-Size:       .5em;
    Opacity:         .5;
}

.ch_sm B{
    Color:           white;
    Font-Weight:     bold;
    Font-Size:       1.3em;
    Opacity:         .8;
}

    
    
/*스킬 영역*/
    
.play{
    width: 300px;
    height: 80px;
    font-size: 30px;
    display: block;
    position: absolute;
    top: 5%;
    left: 55%;
    color: white;
    transform: translate(-50%, 0%);
}
.cube{
    width: 270px;
    height: 80px;
    font-size: 30px;
    display: block;
    position: absolute;
    top: 85%;
    left: 55%;
    color: white;
    transform: translate(-50%, 0%);
}
    
.skill{
    width: 400px;
    height: 400px;
    background-color: #eee;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: inset 0px 0px 20px 0px #000;
}
.skill_wrap{
    width: 270px;
    height: 270px;
    padding-top: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
/*    perspective: 1200px;*/
}
.skill_wrap>ul>ul{
    width: 90px;
    height: 90px;
    float: left;
    display: block;
}
.skill_wrap>ul>ul>li{
    width: 90px;
    height: 90px;
    position: relative;
    transition: all 0.4s;
    transform-style: preserve-3d;
    border: 1px solid #eee;
    backface-visibility: hidden;
    text-align: center;
    line-height: 166px;
    display: block;
}
.skill_wrap>ul>ul:nth-child(1) b{
    line-height: 90px;
    font-size: 40px;
}
.skill_wrap>ul>ul:nth-child(2) b{
    top: 100%;
    left: 0;
    font-size: 11px;
    font-family: 'Nanum Gothic', cursive;
    color: white;
    opacity: 0;
}
.skill_wrap>ul>ul:nth-child(2) li span{
    transform: rotateX(90deg) translateY(-45px);
}
.skill_wrap>ul>ul:nth-child(2):hover b{
    top: -10%;
}
.skill_wrap>ul>ul:nth-child(3) li span{
    transform: rotateX(90deg) translateY(45px);
}
.skill_wrap>ul>ul:nth-child(3) b{
    font-size: 14px;
    position: absolute;
    top: 100%;
    left: -10%;
}
.skill_wrap>ul>ul:nth-child(3):hover b{
    top: 0%;
    opacity: 1;
    transition: 2s;
}
.skill_wrap>ul>ul:nth-child(3) strong{
    position: absolute;
    top: -100%;
    left: 10%;
    transform: rotate(90deg) rotateX(180deg);
    font-size: 24px;
    line-height: 34px;
    font-weight: bold;
    font-family: 'Noto Sans KR', cursive;
    color: #fff;
    background-color: #f24b9e;
}
.skill_wrap>ul>ul:nth-child(3):hover strong{
    top: 20%;
    transition: 1s;
}
.skill_wrap>ul>ul:nth-child(4) li span{
    transform: rotateY(90deg) translateX(45px);
}
.skill_wrap>ul>ul:nth-child(4) b{
    top: 100%;
    left: 5%;
}
.skill_wrap>ul>ul:nth-child(4):hover b{
    top: -10%;
}
.skill_wrap>ul>ul:nth-child(4) strong{
    position: absolute;
    top: -100%;
    left: -5%;
    transform: rotate(135deg) rotateX(180deg);
    font-size: 18px;
    font-weight: bold;
    font-family: 'Noto Sans KR', cursive;
    color: #e0864e;
    text-shadow: 0px 1px 1px #000;
}
.skill_wrap>ul>ul:nth-child(4):hover strong{
    top: -40%;
    transition: 1s;
}
.skill_wrap>ul>ul:nth-child(5) li span{
    transform: rotateY(180deg) translateX(0px);
}
.skill_wrap>ul>ul:nth-child(5) li span b{
    position: absolute;
    top: 20%;
    left: 0%;
    width: 100%;
    height: 100%;
    font-size: 13px;
    font-family: 'Nanum Gothic';
    line-height: 1.8;
    word-spacing: 0px;
    letter-spacing: 0px;
    color: #000;
    opacity: 0;
}
.skill_wrap>ul>ul:nth-child(5) b strong{
    position: absolute;
    top: -100%;
    left: 5%;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Noto Sans KR', cursive;
    color: #0f7f20;
}
.skill_wrap>ul>ul:nth-child(6) li span{
    transform: rotateY(90deg) translateX(45px);
}
.skill_wrap>ul>ul:nth-child(6) b{
    position: absolute;
    top: 100%;
    left: 10%;
/*    transform: rotate(90deg) rotateX(180deg);*/
    font-size: 14px;
    font-family: 'Nanum Gothic', cursive;
    color: white;
    opacity: 0;
    line-height: 22px;
}
.skill_wrap>ul>ul:nth-child(6):hover b{
    top: 20%;
    opacity: 1;
    transition: 2s;
}
.skill_wrap>ul>ul:nth-child(6) strong{
    position: absolute;
    top: -100%;
    left: 10%;
/*    transform: rotate(90deg) rotateX(180deg);*/
    font-size: 16px;
    font-weight: bold;
    font-family: 'Noto Sans KR', cursive;
    color: #f9e636;
    line-height: 22px;
}
.skill_wrap>ul>ul:nth-child(6):hover strong{
    top: 0%;
    transition: 1s;
}
.skill_wrap>ul>ul:nth-child(7) li span{
    transform: rotateX(90deg) translateY(-45px);
}
.skill_wrap>ul>ul:nth-child(7) b{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: rotate(135deg) rotateX(0deg);
    font-size: 18px;
    font-family: 'Nanum Gothic', cursive;
    color: #37e5c5;
    opacity: 0;
    text-shadow: 2px -2px 1px #000;
    
}
.skill_wrap>ul>ul:nth-child(7):hover b{
    top: 40%;
    opacity: 1;
    transition: 2s;
}
.skill_wrap>ul>ul:nth-child(7) strong{
    position: absolute;
    top: -100%;
    left: -5%;
    transform: rotate(135deg) rotateX(0deg);
    font-size: 14px;
    font-weight: bold;
    font-family: 'Noto Sans KR', cursive;
    color: #fff;
    text-shadow: 0px 2px 1px #000;
}
.skill_wrap>ul>ul:nth-child(7):hover strong{
    top: -45%;
    transition: 1s;
}
.skill_wrap>ul>ul:nth-child(8) li span{
    transform: rotateX(90deg) translateY(-45px);
}
.skill_wrap>ul>ul:nth-child(8) b{
    position: absolute;
    top: 100%;
    left: 10%;
    transform: rotate(180deg) rotateY(180deg);
    font-size: 11px;
    line-height: 1.2;
    font-family: 'Nanum Gothic', cursive;
    color: #fff;
    opacity: 0;
}
.skill_wrap>ul>ul:nth-child(8):hover b{
    top: 0%;
    opacity: 1;
    transition: 2s;
}
.skill_wrap>ul>ul:nth-child(8) strong{
    position: absolute;
    top: -100%;
    left: 20%;
    transform: rotate(180deg) rotateY(180deg);
    font-size: 20px;
    line-height: 1;
    font-weight: bold;
    font-family: 'Noto Sans KR', cursive;
    color: #e22863;
}
.skill_wrap>ul>ul:nth-child(8):hover strong{
    top: 30%;
    transition: 1s;
}
.skill_wrap>ul>ul:nth-child(9) li span{
    transform: rotateY(90deg) translateX(45px);
}
.skill_wrap>ul>ul:nth-child(9) b{
    position: absolute;
    top: 100%;
    left: -15%;
    transform: rotate(90deg) rotateX(180deg) rotateY(180deg);
    font-size: 18px;
    font-family: 'Nanum Gothic', cursive;
    color: white;
    opacity: 0;
}
.skill_wrap>ul>ul:nth-child(9):hover b{
    top: 0%;
    opacity: 1;
    transition: 2s;
}
.skill_wrap>ul>ul:nth-child(9) strong{
    position: absolute;
    top: -100%;
    left: 10%;
    transform: rotate(90deg) rotateX(180deg) rotateY(180deg);
    font-size: 20px;
    line-height: 34px;
    font-weight: bold;
    font-family: 'Noto Sans KR', cursive;
    color: #fff;
    background-color: #783e87;
}
.skill_wrap>ul>ul:nth-child(9):hover strong{
    top: 50%;
    transition: 1s;
}

    
    
/*포트폴리오 영역*/
    
#po_wrap{
    width: 100%;
    height: 70%;
    position: relative;
    top: 20%;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.5);
}
#po_wrap{
    width: 350px;
    height: 350px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    background-image: url(../img/puzzle-1816470_1920_2.png);
    background-size: 100% 70%;
    background-position: 50% 65%;
    background-repeat: no-repeat;
    background-color: #ededed;
    border-radius: 5%;
    box-shadow: inset 0px 0px 20px #000;
}
.pick{
    width: 300px;
    height: 80px;
    font-size: 30px;
    display: block;
    position: absolute;
    top: 5%;
    left: 50%;
    color: white;
    transform: translate(-50%, 0%);
}
.puzzle{
    width: 300px;
    height: 80px;
    font-size: 30px;
    display: block;
    position: absolute;
    top: 85%;
    left: 40%;
    color: white;
    transform: translate(-50%, 0%);
}
.pu1{
    top: 150px;
    left: 50px;
    cursor: pointer;
}
.pu2{
    top: 150px;
    left: 150px;
}
.pu3{
    top: 75px;
    left: 250px;
}
.pu4{
    top: 200px;
    left: 250px;
}
.pu5{
    top: 260px;
    left: 50px;
}
.pu6{
    top: 200px;
    left: 45px;
}
.pu7{
    top: 160px;
    left: 400px;
}
.pu8{
    top: 120px;
    left: 220px;
}
.pu9{
    top: 220px;
    left: 220px;
}
.pu9{
    top: 220px;
    left: 220px;
}
.pu10{
    top: 300px;
    left: 240px;
}
    
.modal_in{
    width: 350px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
/*    background-color: #fff;*/
    perspective: 400px;
    transform-style: preserve-3d;
}
.mo_text{
    width: 60%;
    height: 20%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    background-color: rgba(255,255,255,0.9);
}
.go_site{
    width: 200px;
    height: 50px;
    position: absolute;
    bottom: -15%;
    left: 50%;
    transform: translate(-50%, 0%);
    display: block;
    background-color: #000;
    border: 2px solid #fff;
    transition: 0.6s;
    overflow: hidden;
}
.go_site span{
    width: 100%;
    font-size: 22px;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    z-index: 10;
    transition: 0.6s;
}
.mo_text_tt{
    font-size: 14px;
    color: #000;
}
.mo_text_sec{
    font-size: 12px;
    font-weight: 600;
    color: #000;
}
.modal1 .mo_img{
    width: 350px;
    height: 350px;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../../po_img/po1_pu.png)no-repeat center center;
    background-size: 100% 100%;
    border-radius: 5%;
    box-shadow: 0px 0px 20px #000;
}
.modal1 .mo_pi{
    width: 53.5px;
    height: 53px;
    position: absolute;
    top: 58.7%;
    right: 38.7%;
    background: url(../img/puimg1.png)no-repeat center center;
    background-size: cover;
}
@keyframes mo_pi_move{
    0%{top: -10%; right: 110%; transform: rotate(0deg) scale(2.5);}
    50%{transform: rotate(180deg)}
    100%{top: 58.7%; right: 38.7%;; transform: rotate(360deg) scale(1);}
}
.modal2 .mo_img{
     width: 350px;
    height: 350px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: url(../../po_img/wp01_pu.png)no-repeat center center;
    background-size: 100% 100%;
    border-radius: 5%;
    box-shadow: 0px 0px 20px #000;
}
.modal2 .mo_pi{
    width: 51px;
    height: 48.5px;
    position: absolute;
    top: 34.8%;
    right: 29.29%;
    background: url(../img/puimg2.png)no-repeat center center;
    background-size: cover;
}
@keyframes mo_pi2_move{
    0%{top: -20%; right: -20%; transform: rotate(0deg) scale(2.5);}
    50%{transform: rotate(180deg)}
    100%{top: 35.15%; right: 29.5%; transform: rotate(360deg) scale(1);}
}
.modal3 .mo_img{
     width: 350px;
    height: 350px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: url(../../po_img/po2_pu.png)no-repeat center center;
    background-size: 100% 100%;
    border-radius: 5%;
    box-shadow: 0px 0px 20px #000;
}
.modal3 .mo_pi{
    width: 51px;
    height: 55px;
    position: absolute;
    top: 33%;
    right: 46%;
    background: url(../img/puimg3.png)no-repeat center center;
    background-size: cover;
}
@keyframes mo_pi3_move{
    0%{top: -20%; right: -20%; transform: rotate(0deg) scale(2.5);}
    50%{transform: rotate(180deg)}
    100%{top: 33.4%; right: 46%; transform: rotate(360deg) scale(1);}
}
.modal4 .mo_img{
     width: 350px;
    height: 350px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: url(../../po_img/po3_pu.png)no-repeat center center;
    background-size: 100% 100%;
    border-radius: 5%;
    box-shadow: 0px 0px 20px #000;
}
.modal4 .mo_pi{
    width: 50px;
    height: 55px;
    position: absolute;
    top: 33%;
    right: 46%;
    background: url(../img/puimg4.png)no-repeat center center;
    background-size: cover;
}
@keyframes mo_pi4_move{
    0%{top: 100%; right: -20%; transform: rotate(0deg) scale(2.5);}
    50%{transform: rotate(180deg)}
    100%{top: 33%; right: 46%; transform: rotate(360deg) scale(1);}
}
.modal5 .mo_img{
    width: 350px;
    height: 350px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: url(../../po_img/po4_pu.png)no-repeat center center;
    background-size: 100% 100%;
    border-radius: 5%;
    box-shadow: 0px 0px 20px #000;
}
.modal5 .mo_pi{
    width: 53px;
    height: 53px;
    position: absolute;
    top: 22%;
    left: 36%;
    background: url(../img/puimg5.png)no-repeat center center;
    background-size: cover;
}
@keyframes mo_pi5_move{
    0%{top: 80%; left: -10%; transform: rotate(0deg) scale(2.5);}
    50%{transform: rotate(180deg)}
    100%{top: 22%; left: 36%;; transform: rotate(360deg) scale(1);}
}
    
    
/*컨택트 영억*/
    
#con_wrap{
    width: 100%;
    height: 65%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(29,31,33,1);
    background: url(../img/envelope-3172770_1280.png)no-repeat;
    background-size: 100% 100%;
    background-position: center;
} 
}

























