@font-face{
    font-family: 'NanumSquare_acR';
    src: url(../font/NanumSquare_acR.ttf) format('truetype');
}

body{
    font-family: 'NanumSquare_acR';
    max-width: 2000px;
    margin: 0 auto;
    background-color: #fafafa;
}

/* 헤더 영역 */
header{
    max-width: 1200px;
    height: 90px;
    margin: 0 auto;
}
header>div{
    display: inline-block;
}
#logo1{
    width: 100px;
    height: 90px;
    background: url(../img/main_logo.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
}
#logo2{
    width: 250px;
    height: 90px;
    background: url(../img/main_logo_2.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    float: right;
}
.main_menu{
    width: 60%;
    line-height: 90px;
    text-align: center;
    margin: 0 auto;
    position: relative;
}
.main_menu>ul{
    
}
.main_menu>ul>li{
    height: 90px;
    margin-left: 7%;
    display: inline-block;
    font-size: 13.5px;
    font-weight: 600;
}
.main_menu>ul>li:hover{
    border-bottom: 5px solid #ff0000;
    transition: 0.2s;
}
.main_menu>ul>li>a{
    color: #000;
    display: block;
}
.main_menu>ul>li:hover a{
    color: #ff0000;
    transition: 0.2s;
}


/* 메인 영역 */
main{
    max-width: 2000px;
    margin: 0 auto;
}

.banner{
    max-width: 2000px;
    height: 470px;
    margin-bottom: 60px;
    position: relative;
    overflow: hidden;
}
.banner>div{
    position: absolute;
}
.bn_1{
    width: 100%;
    height: 100%;
    background: url(../img/ban1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.bn_2{
    width: 100%;
    height: 100%;
    background: url(../img/ban2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.bn_text{
    width: 1200px;
    margin: 0 auto;
    padding-top: 85px;
    padding-left: 35px;
}
.bn_text_top{
    font-size: 32px;
    color: #fff;
}
.bn_text_top>b{
    color: #ff0000;
}
.bn_text_bot{
    margin-top: 30px;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}
.bn_text_bot i{
    color: #ff0000;
    margin-right: 5px;
}

.bn_text_qu{
    width: 170px;
    height: 60px;
    margin-top: 70px;
    background-color: #ff0000;
    border: 2px solid #ff0000;
    border-radius: 5px;
    line-height: 60px;
    text-align: center;
}
.bn_text_qu>a{
    font-size: 18px;
    color: #fff;
    display: block;
}
.bn_text_qu:hover{
    background-color: #19121a;
    transition: 0.2s;
}
.bn_text_qu:hover a{
    color: #ff0000;
    transition: 0.2s;
}
.bn_btn{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}
.bn_btn>div{
    width: 22px;
    height: 22px;
    display: inline-block;
    margin: 5px;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}
.on{
    background-color: #fff;
}
section{
    max-width: 1200px;
    margin: 0 auto;
}
.sec1{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #000;
    margin-bottom: 70px;
}
.sec1>span{
    max-width: 700px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #dddddd;
    border-radius: 25px;
    display: block;
    line-height: 50px;
}
.sec1>span>i{
    color: #ff0000;
    margin-right: 10px;
}

.sec2{
    width: auto;
    margin: 0 auto;
}
.sec2_tt{
    width: 240px;
    margin: 0 auto;
    margin-bottom: 35px;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    color: #ff0000;
    position: relative;
}
.sec2_tt::after{
    content: '';
    display: block;
    margin: 0 auto;
    width: 55%;
    margin-top: 20px;
    border-bottom: 3px solid #ff0000;
}

.sec2_in{
    width: 100%;
    position: relative;
}
.sec2_in_tt{
    margin-left: 1%;
    margin-bottom: 1%;
    font-size: 18px;
    font-weight: 600;
    color: #000;
}
.sec2_in_tt>i{
    color: #ff0000;
}
.sec2_in_wrap{

}
.sec2_in_wrap>div:last-child{
    margin-right: 0;
}
.sec2_in_box{
    width: 19%;
    height: 140px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #fff;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    margin-right: 1.2%;
    float: left;
}
.sec2_in_box>img{
    padding-left: 30%;
    display: inline-block;
}
.sec2_in_box_1{
    font-size: 18px;
    font-weight: 600;
    color: #000;
    display: inline-block;
    position: relative;
    bottom: 15px;
}
.sec2_in_box_2{
    text-align: center;
    font-size: 11px;
    color: #000;
}














