@font-face{
    font-family: 'NanumSquare_acR';
    src: url(../font/NanumSquare_acR.ttf) format('truetype');
}
 
body{
    font-family: 'NanumSquare_acR';
    background-color: #fafafa;
}

/* 헤더 영역 */
header{
    width: 100%;
    height: 90px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 3px 0px #ddd;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
.header_in{
    max-width: 1200px;
    margin: 0 auto;
}
.header_in>div{
    display: inline-block;
}
#logo1{
    width: 8%;
    height: 90px;
    float: left;
}
#logo1>a{
    width: 100%;
    height: 100%;
    display: block;
    background: url(../img/main_logo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#logo2{
    width: 21%;
    height: 90px;
    background: url(../img/main_logo_2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    float: right;
}
.main_menu{
    width: 70%;
    line-height: 90px;
    text-align: center;
  
}
.main_menu>ul{
    
}
.main_menu>ul>li{
    height: 90px;
    margin-left: 30px;
    display: inline-block;
    font-size: 1.2wm;
    font-weight: 600;
}
.main_menu>ul>li>a{
    height: 90px;
    color: #000;
    display: block;
}
.on{
    color: #ff0000 !important;
    border-bottom: 5px solid #ff0000;
    transition: 0.2s
}


/* 메인 영역 */
main{
    width: 100%;
    margin: 0 auto;
    margin-top: 90px;
}

.banner{
    width: 100%;
    height: 470px;
    margin: 0 auto;
    margin-bottom: 60px;
    position: relative;
/*    overflow: hidden;*/
}
.banner>div{
/*    position: absolute;*/
}
.bn_1{

    background: url(../img/ban1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.bn_2{

    background: url(../img/ban2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.bn_text{
    width: 1200px;
    margin: 0 auto;
    padding-top: 85px;
    padding-left: 35px;
}
.bn_text_top{
    font-size: 32px;
    color: #fff;
}
.bn_text_top>b{
    color: #ff0000;
}
.bn_text_bot{
    margin-top: 30px;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}
.bn_text_bot i{
    color: #ff0000;
    margin-right: 5px;
}

.bn_text_qu{
    width: 170px;
    height: 60px;
    margin-top: 70px;
    background-color: #ff0000;
    border: 2px solid #ff0000;
    border-radius: 5px;
    line-height: 60px;
    text-align: center;
}
.bn_text_qu>a{
    font-size: 18px;
    color: #fff;
    display: block;
}
.bn_text_qu:hover{
    background-color: #19121a;
    transition: 0.2s;
}
.bn_text_qu:hover a{
    color: #ff0000;
    transition: 0.2s;
}
.bn_btn{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}
.swiper-pagination-bullet{
    width: 30px !important;
    height: 30px !important;
    display: inline-block;
    margin: 5px;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}
.swiper-pagination-bullet-active{
    background-color: #fff !important;
}


/* 섹션 영역 */
.section1{
    max-width: 1200px;
    margin: 0 auto;
}
.sec1{
    padding-top: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #000;
    margin-bottom: 70px;
}
.sec1>span{
    max-width: 700px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #dddddd;
    border-radius: 25px;
    display: block;
    line-height: 50px;
}
.sec1>span>i{
    color: #ff0000;
    margin-right: 10px;
}

.sec2{
    width: auto;
    margin: 0 auto;
}
.sec2_tt{
    width: 240px;
    margin: 0 auto;
    margin-bottom: 35px;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    color: #ff0000;
    position: relative;
}
.sec2_tt::after{
    content: '';
    display: block;
    margin: 0 auto;
    width: 55%;
    margin-top: 20px;
    border-bottom: 3px solid #ff0000;
}

.sec2_in{
    width: 100%;
    padding-bottom: 190px;
    position: relative;
}
.sec2_in_tt{
    margin-left: 1%;
    margin-bottom: 1%;
    font-size: 18px;
    font-weight: 600;
    color: #000;
}
.sec2_in_tt>i{
    color: #ff0000;
}
.sec2_in_wrap{
}
.sec2_in_wrap>div:last-child{
    margin-right: 0;
}
.sec2_in_box{
    width: 19%;
    height: 140px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #fff;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    margin-right: 1.2%;
    float: left;
}
.sec2_in_box>img{
    padding-left: 30%;
    display: inline-block;
}
.sec2_in_box_1{
    font-size: 18px;
    font-weight: 600;
    color: #000;
    display: inline-block;
    position: relative;
    bottom: 15px;
}
.sec2_in_box_2{
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    color: #000;
}
.sec2_in_box_2>span{
    display: block;
}
.sec2_in_box_2>a{
    color: #ff0000;
    border-bottom: 1px solid;
}

.sec3{
    width: 100%;
    position: relative;
}
.sec3_tt{
    margin-left: 1%;
    margin-bottom: 1%;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    display: inline-block;
}
.sec3_tt>i{
    color: #ff0000;
}
.sec3_vs{
    padding: 5px 20px 5px 20px;
    font-size: 13px;
    font-weight: 600;
    color: #ff0000;
    border: 3px solid #ff0000;
    border-radius: 25px;
    background-color: #fff;
    display: inline-block;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
}
.sec3_in{
    width: 100%;
    height: 465px;
    padding: 50px;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    background-color: #fff;
}
.sec3_in::after{
    content: '';
    clear: both;
    display: block;
}
.sec3_in>div{
    float: left;
}
.sec3_text{
    width: 30%;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}
.sec3_text_1{
    margin-bottom: 50px;
}
.sec3_text_1>h3{
    width: 60%;
    padding: 5px 30px 5px 30px;
    margin: 0 auto;
    font-size: 13px;
    text-align: center;
    color: #fff;
    background-color: #ff0000;
    border-radius: 25px;
}
.sec3_text_1>span{
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    font-size: 13px;
    color: #000;
    font-weight: 600;
}
.sec3_text_1>span>i{
    color: #ff0000;
}
.sec3_text_2>h3{
    width: 60%;
    padding: 5px 30px 5px 30px;
    margin: 0 auto;
    font-size: 13px;
    text-align: center;
    color: #fff;
    background-color: #3c9df2;
    border-radius: 25px;
}
.sec3_text_2>span{
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    font-size: 13px;
    color: #000;
    font-weight: 600;
}
.sec3_text_2>span>i{
    color: #3c9df2;
}
.sec3_gr{
    width: 60%;
    height: 100%;
    margin-left: 5%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.sec3_gr_img{
    width: 100%;
    height: 80%;
    background: url(../img/sec3_01.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.sec3_gr_red, .sec3_gr_blue{
    font-size: 10px;
    font-weight: 600;
    display: inline-block;
    margin-left: 20%;
    margin-top: 5%;
    position: relative;
}
.sec3_gr_red::before{
    content: '';
    display: block;
    width: 30px;
    height: 5px;
    position: absolute;
    top: 50%;
    left: -55%;
    transform: translateY(-50%);
    background-color: #ff0000;
}
.sec3_gr_blue::before{
    content: '';
    display: block;
    width: 30px;
    height: 5px;
    position: absolute;
    top: 50%;
    left: -30%;
    transform: translateY(-50%);
    background-color: #3c9df2;
}

.sec4{
    
}
.sec4_tt{
    margin-top: 5%;
    margin-left: 1%;
    margin-bottom: 1%;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    display: inline-block;
}
.sec4_tt>i{
    color: #ff0000;
}
.sec4_in{
    border: 1px solid #ddd;
    border-radius: 5px;
}
.sec4_sl{
    width: 100%;
    height: 55px;
}
.sec4_sl>div{
    width: 33.33%;
    height: 55px;
    font-size: 15px;
    font-weight: 600;
    line-height: 55px;
    text-align: center;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    float: left;
    cursor: pointer;
}
.sec4_sl>div:nth-child(3){
    border-right: none;
}
.sec4_sl>div>p{
    width: 120px;
    height: 55px;
    margin: 0 auto;
}
.select{
    color: #ff0000;
    background-color: #fff;
    border-bottom: none !important;
}
.select_bb{
    border-bottom: 2px solid #ff0000;
}
.sec4_sl_box{
    width: 100%;
    height: 810px;
    border-top: none;
    position: relative;
}
.sec4_sl_box>div{
    width: 100%;
    height: 100%;
    padding: 50px;
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
}
.sec4_sl_box_1{
    
    
}
.sec4_sl_box_2{

    
}
.sec4_sl_box_3{
    

}
.sec4_sl_box_text{
    margin-left: 50px;
    display: inline-block;
}
.sec4_sl_box_text>span{
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #000;
}
.sec4_sl_box_text>span>i{
    color: #ff0000;
}
.sec4_sl_box_text>p{
    font-size: 13px;
    flex-wrap: 600;
    color: #000;
    margin-top: 5px;
    margin-left: 10px;
}
.sec4_sl_box_map{
    width: 420px;
    height: 150px;
    background: url(../img/sec4_map.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    display: inline-block;
}
.sec4_sl_box_img{
    width: 1100px;
    height: 528px;
    margin-top: 50px;
    background: url(../img/sec4_1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.sec4_sl_box_local{
    width: 165px;
    height: 150px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: url(../img/sec4_3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.sec4_sl_box_2>.sec4_sl_box_img{
    width: 1100px;
    height: 528px;
    margin-top: 50px;
    background: url(../img/sec4_2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.sec4_sl_box_text>div{
    width: 520px;
    height: 50px;
    margin-top: 30px;
}
.sec4_sl_box_text>div::after{
    content: '';
    clear: both;
    display: block;
}
.sec4_sl_box_text>div>h1{
    width: auto;
    height: auto;
    float: left;
    display: inline;
    font-size: 16px;
    text-align: center;
    color: #ff0000;
    border-bottom: 1px solid #ff0000;
}
.sec4_sl_box_text>div>div{
    width: 80%;
    height: 50px;
    float: right;
    font-size: 13px;
    flex-wrap: 600;
    color: #000;
}
.sec4_sl_box_3>.sec4_sl_box_img{
    width: 620px;
    height: 390px;
    margin-top: 50px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background: url(../img/sec4_4.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.sec5{
    width: 820px;
    margin: 0 auto;
    padding-top: 100px;
}
.sec5_tt{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: #ff0000;
    padding-bottom: 50px;
}
.sec5_in{
    width: 100%;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}
.sec5_in_ch{
    width: 100%;
}
.sec5_in_ch::after{
    content: '';
    clear: both;
    display: block;
}
.sec5_in_ch>div{
    height: 60px;
    float: left;
    font-size: 12px;
    font-weight: 600;
    line-height: 60px;
    color: #000;
}
.sec5_in_ch>div:nth-child(1){
    width: 15%;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.sec5_in_ch>div:nth-child(2){
    width: 20%;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.sec5_in_ch>div:nth-child(3){
    width: 35%;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.sec5_in_ch>div:nth-child(4){
    width: 30%;
    border-bottom: 1px solid #ddd;
}
.sec5_in_ch>div>p{
    line-height: 30px;
}
.sec5_in>div:first-child{
    background-color: #f1f8ff;
}
.sec5_in>div:first-child .sl_red{
    background-color: #ff0000 !important;
    color: #fff !important;
}
.sec5_in>div:last-child .sl_red{
    border-bottom: 2px solid #ff0000;
}
.sl_sky{
    background-color: #f9fcff;
}
.sl_red{
    border-left: 2px solid #ff0000;
    border-right: 2px solid #ff0000 !important;
    box-shadow: 3px 5px 5px 1px #dadada;
    background-color: #fff;
    color: #ff0000 !important;
}

.section2{
    width: 100%;
    background-color: #fff;
}
.sec6{
    max-width: 1200px;
    margin: 0 auto;
}
.sec6_tt{
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 22px;
    font-weight: 600;
    color: #ff0000;
    text-align: center;
}
.sec6_tt::before{
    content: '';
    display: block;
    width: 150px;
    height: 3px;
    margin: 0 auto;
    position: relative;
    top: 50px;
    background-color: #ff0000;
}
.sec6_subtt{
    padding: 5px 20px 5px 20px;
    position: relative;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    font-size: 13px;
    font-weight: 600;
    color: #ff0000;
    display: inline-block;
    border: 3px solid #ff0000;
    border-radius: 25px;
    background-color: #fff;
}
.sec6_in{
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.sec6_in_tt{
    font-size: 15px;
    font-weight: 600;
    color: #000;
}
.sec6_in_tt>span{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ff0000;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    display: inline-block;
}
.sec6_in1>.sec6_in_img{
    width: 1100px;
    height: 220px;
    background: url(../img/sec6_1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.sec6_in2>.sec6_in_img{
    width: 1100px;
    height: 220px;
    background: url(../img/sec6_2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.sec6_in_arrow{
    width: 400px;
    height: 90px;
    margin-top: 50px;
    background: url(../img/sec6_arrow.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.sec6_in3>.sec6_in_img{
    width: 1100px;
    height: 220px;
    background: url(../img/sec6_3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.sec7_tt{
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 22px;
    font-weight: 600;
    color: #ff0000;
    text-align: center;
}
.sec7_tt::before{
    content: '';
    display: block;
    width: 150px;
    height: 3px;
    margin: 0 auto;
    position: relative;
    top: 50px;
    background-color: #ff0000;
}
.sec7_in{
    max-width: 1200px;
    margin: 0 auto;
}
.sec7_in_ch1{
    width: 100%;
    height: 230px;
}
.sec7_in_ch1::after{
    content: '';
    clear: both;
    display: block;
}
.sec7_in_ch1>div{
    float: left;
}
.sec7_in_ch1>.sec7_in_ch_tt{
    width: 15%;
    height: 100%;
    margin-right: 2%;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    line-height: 230px;
    color: #546c82;
    background-color: #edeff6;
    border: 1px solid #bdd2e4;
    border-radius: 5px;
}
.sec7_in_ch_1{
    width: 83%;
    height: 22%;
    margin-bottom: 1%;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.sec7_in_ch_2{
    width: 20%;
    height: 46%;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.sec7_in_ch_2>p:first-child{
    background-color: #fafafa;
    border-bottom: 1px solid #ddd;
}
.sec7_in_ch_3{
    width: 20%;
    height: 46%;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    color: #ff0000;
    position: relative;
}
.sec7_in_ch_3>p:first-child{
    border-bottom: 3px dashed #ff0000;
}
.sec7_in_ch_3>p:first-child::after{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-color: #ff0000;
    border-radius: 50%;
    position: absolute;
    top: 47px;
    left: -5px;
}
.sec7_in_ch_3>p:first-child::before{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-color: #ff0000;
    border-radius: 50%;
    position: absolute;
    top: 47px;
    right: -5px;
}
.sec7_in_ch_3>p:last-child{
    line-height: 25px;
}
.sec7_in_ch_4{
    width: 43%;
    height: 46%;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.sec7_in_ch_4>p:first-child{
    background-color: #fafafa;
    border-bottom: 1px solid #ddd;
}
.sec7_in_ch_4>p:last-child{
    line-height: 25px;
}
.sec7_in_ch_4>p:last-child span{
    font-size: 18px;
    color: #ff0000;
}
.sec7_in_ch_5{
    width: 83%;
    height: 22%;
    margin-top: 1%;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.sec7_in_ch2{
    width: 100%;
    height: 80px;
    margin-top: 10px;
}
.sec7_in_ch2::after{
    content: '';
    clear: both;
    display: block;
}
.sec7_in_ch2>div{
    float: left;
}
.sec7_in_ch2>.sec7_in_ch_tt{
    width: 15%;
    height: 100%;
    margin-right: 2%;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    line-height: 80px;
    color: #546c82;
    background-color: #edeff6;
    border: 1px solid #bdd2e4;
    border-radius: 5px;
}
.sec7_in_ch_6{
    width: 83%;
    height: 100%;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    line-height: 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.sec7_in_ch3{
    width: 100%;
    height: 350px;
    margin-top: 10px;
}
.sec7_in_ch3::after{
    content: '';
    clear: both;
    display: block;
}
.sec7_in_ch3>div{
    float: left;
}
.sec7_in_ch3>.sec7_in_ch_tt{
    width: 15%;
    height: 100%;
    margin-right: 2%;
    padding-top: 160px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #546c82;
    background-color: #edeff6;
    border: 1px solid #bdd2e4;
    border-radius: 5px;
}
.sec7_in_ch_7{
    width: 83%;
    height: 22.5%;
    margin-bottom: 1%;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.sec7_in_ch_7::after{
    content: '';
    clear: both;
    display: block;
}
.sec7_in_ch_7>div{
    float: left;
}
.sec7_in_ch_7>div:first-child{
    width: 20%;
    margin-right: 2%;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    border-right: 2px solid #ddd;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.sec7_in_ch_7>div:last-child{
    width: 75%;
    font-size: 12px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.sec7_in_ch_7>div:last-child span{
    color: #ff0000;
    font-size: 18px;
}

.sec7_in_ch4{
    width: 100%;
    height: 95px;
    margin-top: 10px;
}
.sec7_in_ch4::after{
    content: '';
    clear: both;
    display: block;
}
.sec7_in_ch4>div{
    float: left;
}
.sec7_in_ch4>.sec7_in_ch_tt{
    width: 15%;
    height: 100%;
    margin-right: 2%;
    padding-top: 30px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #546c82;
    background-color: #edeff6;
    border: 1px solid #bdd2e4;
    border-radius: 5px;
}
.sec7_in_ch_8{
    width: 83%;
    height: 100%;
    padding-top: 10px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.sec7_in_ch5{
    width: 100%;
    height: 115px;
    margin-top: 15px;
    position: relative;
}
.sec7_in_ch5::after{
    content: '';
    clear: both;
    display: block;
}
.sec7_in_ch5>div{
    float: left;
}
.sec7_in_ch5>.sec7_in_ch_tt{
    width: 15%;
    height: 100%;
    margin-right: 2%;
    font-size: 16px;
    font-weight: 600;
    line-height: 115px;
    text-align: center;
    color: #546c82;
    background-color: #edeff6;
    border: 1px solid #bdd2e4;
    border-radius: 5px;
}
.sec7_in_ch_9{
    width: 30%;
    height: 100%;
    font-size: 16px;
    font-weight: 600;
    line-height: 115px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.sec7_in_ch_10{
    width: 20%;
    height: 100%;
    padding-top: 40px;
    position: absolute;
    left: 56%;
    transform: translateX(-50%);
}
.sec7_in_ch_10>p:first-child{
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    background-color: #ff0000;
    color: #fff;
    border-radius: 25px;
    position: relative;
}
.sec7_in_ch_10>p:first-child::before{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}
.sec7_in_ch_10>p:first-child::after{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
}
.sec7_in_ch_10>p:first-child span::before{
    content: '';
    display: block;
    width: 20%;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    border-top: 3px dashed #fff;
}
.sec7_in_ch_10>p:first-child span::after{
    content: '';
    display: block;
    width: 20%;
    height: 1px;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    border-top: 3px dashed #fff;
}
.sec7_in_ch_10>p:last-child{
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    color: #ff0000;
}
.sec7_in_ch_11{
    width: 35%;
    height: 100%;
    padding-top: 30px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    float: right !important;
}
.sec7_in_ch_11>p>span{
    color: #ff0000;
    font-size: 18px;
}

.sec8{
    max-width: 1200px;
    margin: 0 auto;
}
.sec8_tt{
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 22px;
    font-weight: 600;
    color: #000;
}
.sec8_tt>i{
    color: #ff0000;
}
.sec8_in{
    width: 100%;
    position: relative;
}
.sec8_in::after{
    content: '';
    clear: both;
    display: block;
}
.sec8_in>div{
    width: 19%;
    height: 150px;
    margin-right: 1%;
    margin-bottom: 1%;
    float: left;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.sec8_in>div>p{
    font-size: 16px;
    font-weight: 600;
    color: #000;
    text-align: center;
}
.sec8_in>div:nth-child(1) .img{
    width: 100%;
    height: 70%;
    background: url(../img/samsung.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}
.sec8_in>div:nth-child(2) .img{
    width: 100%;
    height: 70%;
    background: url(../img/kt&g.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}
.sec8_in>div:nth-child(3) .img{
    width: 100%;
    height: 70%;
    background: url(../img/plumu.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}
.sec8_in>div:nth-child(4) .img{
    width: 100%;
    height: 70%;
    background: url(../img/carverkorea.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}
.sec8_in>div:nth-child(5) .img{
    width: 100%;
    height: 70%;
    background: url(../img/coasia.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}
.sec8_in>div:nth-child(6) .img{
    width: 100%;
    height: 70%;
    background: url(../img/433.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}
.sec8_in>div:nth-child(7) .img{
    width: 100%;
    height: 70%;
    background: url(../img/m.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}
.sec8_in>div:nth-child(8) .img{
    width: 100%;
    height: 70%;
    background: url(../img/sp.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}
.sec8_in>div:nth-child(9) .img{
    width: 100%;
    height: 70%;
    background: url(../img/nextmove.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}
.sec8_in>div:nth-child(10) .img{
    width: 100%;
    height: 70%;
    background: url(../img/dp.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}
.sec8_in>div:nth-child(11) .img{
    width: 100%;
    height: 70%;
    background: url(../img/tf.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}
.sec8_in>div:nth-child(12) .img{
    width: 100%;
    height: 70%;
    background: url(../img/trenshow.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}
.sec8_in>div:nth-child(13) .img{
    width: 100%;
    height: 70%;
    background: url(../img/Lydia.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}
.sec8_in>div:nth-child(14) .img{
    width: 100%;
    height: 70%;
    background: url(../img/bgoos.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.sec9{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
}
.sec9_in{
    width: 100%;
    height: 150px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.sec9_in::after{
    content: '';
    clear: both;
    display: block;
}
.sec9_in>div{
    float: left;
}
.sec9_1{
    width: 55%;
    height: 100%;
    padding: 10px 50px 10px 50px;
    background-color: #f5f6fa;
}
.sec9_1::after{
    content: '';
    clear: both;
    display: block;
}
.sec9_1>div{
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.sec9_img{
    width: 20%;
    height: 80%;
    background: url(../img/sec9_1.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}
.sec9_1_text{
    padding-left: 10px;
    font-size: 22px;
    font-weight: 600;
    color: #000;
}
.sec9_1_text>p>span{
    color: #ff0000;
}
.sec9_2{
    width: 45%;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    line-height: 75px;
    border-left: 1px solid #ddd;
}
.sec9_2>p{
    padding-left: 20px;
}
.sec9_2>p:first-child{
    border-bottom: 1px solid #ddd;
}

.sec10{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.sec10_in{
    padding: 10px 0px 10px 0px;
}
.sec10_in::after{
    content: '';
    clear: both;
    display: block;
}
.sec10_in>div{
    float: left;
}
.sec10_1{
    width: 50%;
    padding: 0px 30px 0px 30px;
}
.sec10_1_tt{
    font-size: 24px;
    font-weight: 600;
    color: #000;
    display: inline-block;
}
.sec10_1_tt>i{
    color: #ff0000;
}
.more{
    padding: 0px 10px 0px 10px;
    font-size: 15px;
    border: 1px solid #ddd;
    background-color: #fff;
    display: inline-block;
    float: right;
}
.sec10_1_text{
    padding-top: 20px;
    font-size: 15px;
    font-weight: 600;
    line-height: 30px;
    color: #000;
}
.sec10_1_text>p>span{
    float: right;
}

.topgu{
    width: 58px;
    height: 116px;
    position: fixed;
    top: 60%;
    right: 30px;
}
.top>a{
    width: 58px;
    height: 58px;
    background: url(../img/top.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.qu>a{
   width: 58px;
    height: 58px;
    background: url(../img/qu.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block; 
}

/* 푸터 영역 */
footer{
    background-color: #61646a;
}

.footer_top{
    max-width: 1200px;
    margin: 0 auto;
}
.ft_in{
    padding-top: 50px;
}
.ft_tt{
    color: #fff;
    text-align: center;
}
.ft_tt>h1{
    font-size: 32px;
}
.ft_tt>p{
    width: 170px;
    height: 60px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #ff0000;
    border: 2px solid #ff0000;
    border-radius: 5px;
    line-height: 60px;
    text-align: center;
}
.ft_tt>p>a{
    font-size: 18px;
    color: #fff;
    display: block;
}
.ft_tt>p:hover{
    background-color: #19121a;
    transition: 0.2s;
}
.ft_tt>p:hover a{
    color: #ff0000;
    transition: 0.2s;
}

.ft_icon{
    padding-top: 30px;
    color: #fff;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
}
.ft_icon::after{
    content: '';
    clear: both;
    display: block;
}
.ft_icon>div{
    float: left;
    padding-left: 50px;
}
.ft_icon>div::after{
    content: '';
    clear: both;
    display: block;
}
.ft_icon>div>div{
    padding-left: 10px;
    float: left;
    font-size: 13px;
    font-weight: 600;
    line-height: 60px;
}
.icon1{
    width: 60px;
    height: 60px;
    background: url(../img/ft_1.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.icon2{
    width: 60px;
    height: 60px;
    background: url(../img/ft_2.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.icon3{
    width: 60px;
    height: 60px;
    background: url(../img/ft_3.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.footer_bot{
    width: 100%;
}
.fb_1{
    width: 100%;
    height: 80px;
    border-top: 1px solid #87898e;
    border-bottom: 1px solid #87898e;
}
.fb_1_in{
    max-width: 1200px;
    margin: 0 auto;
}
.fb_1_in::after{
    content: '';
    clear: both;
    display: block;
}
.fb_1_in>div{
    float: left;
    font-size: 13px;
    font-weight: 600;
    line-height: 80px;
    color: #fff;
}
.fb_1_in>div::after{
    content: '';
    clear: both;
    display: block;
}
.fb_1_in>div>div{
    float: left;
}
.fb_1_1{
    margin-right: 40%;
}
.fb_1_4>div>a{
    font-size: 13px;
    font-weight: 600;
    line-height: 80px;
    color: #fff;
    border-bottom: 1px solid #fff;
}
.fb_img1{
    width: 133px;
    height: 80px;
    background: url(../img/fb_1.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.fb_img2{
    width: 80px;
    height: 80px;
    background: url(../img/fb_2.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.fb_img3{
    width: 80px;
    height: 80px;
    background: url(../img/fb_3.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.fb_img4{
    width: 80px;
    height: 80px;
    background: url(../img/fb_4.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.fb_2{
    width: 100%;
    height: 150px;
}
.fb_2_in{
    width: 1200px;
    margin: 0 auto;
    padding: 30px;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
}





