html,body{

}

.main{
    
}

.main_inner{
 min-width: 1440px;   
}

.header{
    
}
.header_inner{
    
}
.logo{
    position: fixed;
    top: 60px;
    left: 70px;
    z-index: 999;
}
.logo a{
    display: block;
    width: 200px;
    height: 30px;
    background: url(../img/sw_logo_horiz-04368052e188.png)no-repeat center center;
    background-size: 100% 100%;
    transition: all 0.4s;
}

.menu_btn{
    display: block;
    position: fixed;
    top: 55px;
    right: 70px;
    z-index: 999;
    width: 100px;
    height: 30px;
    padding-right: 35px;
    transition: all 0.2s;
}

.menu_text{
    
    position: absolute;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Poppins';
    color: #fff;
    line-height: 16px;
    transition: all 0.4s;
}
.menu_text i{
    font-size: 20px;
}
.close_text{
    position: absolute;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Poppins';
    color: #fff;
    line-height: 16px;
    display: none;
}
.close_text i{
    font-size: 22px;
}

.menu{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,1);
    z-index: 1;
    display: none;
}
.menu_inner{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}
.main_menu{
    position: relative;
}
.main_menu li{
    
}
.main_menu li a{
    font-size: 100px;
    font-weight: 600;
    color: transparent;
    cursor: pointer;
    text-stroke: 1.5px #ffe81f;
    transition: all 0.4s;
}
.main_menu li a:hover{
    color: #ffe81f;
}

.join{
    position: absolute;
    top: 0;
    right: 0;
}
.join:after{
    content: '';
    clear: both;
    display: block;
}
.join li{
    float: left;
    margin-left: 30px;
}
.join li a{
    font-size: 18px;
    color: #fff;
}

.kren{
    width: 20%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 0%;
    background: url(../img/kren.png)no-repeat center center;
    background-size: auto;
}
.rei{
    width: 20%;
    height: 80%;
    position: absolute;
    top: 10%;
    right: 0%;
    background: url(../img/rei.png)no-repeat center center;
    background-size: auto;
}

.container{
    overflow: hidden;
}
.cont01{
    min-height: 900px;
    background-color: #000;
    background: url(../img/bg_main_01.jpg)no-repeat center bottom;
    background-size: cover;
}
.star{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
}
.star span{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: 50% 50%;
    background-image: radial-gradient(2px 2px at 40px 60px, #ccc, rgba(0,0,0,0)), radial-gradient(2px 2px at 20px 50px, #ddd, rgba(0,0,0,0)), radial-gradient(2px 2px at 30px 100px, #eee, rgba(0,0,0,0)), radial-gradient(2px 2px at 40px 60px, #fff, rgba(0,0,0,0)), radial-gradient(2px 2px at 110px 90px, #ccc, rgba(0,0,0,0)), radial-gradient(2px 2px at 190px 150px, #ddd, rgba(0,0,0,0));
    background-repeat: repeat;
    background-size: 200px 200px;
}
.star span:nth-child(1){
    animation: bgStarEffect 44s linear infinite;
}
.star span:nth-child(2){
    animation: bgStarEffect 72s linear infinite;
}
.star span:nth-child(3){
    animation: bgStarEffect 80s linear infinite;
}
.star span:nth-child(4){
    animation: bgStarEffect 92s linear infinite;
}

@keyframes bgStarEffect{
    0%{transform: rotate(0deg); opacity: .1;}
    50%{transform: rotate(180deg); opacity: .6;}
    100%{transform: rotate(360deg); opacity: .1;}
}
.falcon{
    width: 45px;
    height: 25px;
    position: relative;
    top: 35%;
    left: 102%;
    background: url(../img/falcon.png)no-repeat center center;
    background-size: cover;
    animation: falconmove 200s linear infinite;
    z-index: 300;
}
.ship01{
    width: 100px;
    height: 50px;
    position: relative;
    top: 30%;
    left: 102%;
    background: url(../img/ship01.png)no-repeat center center;
    background-size: cover;
    animation: shipmove01 200s linear infinite;
    z-index: 300;
}
.ship02{
    width: 50px;
    height: 20px;
    position: relative;
    top: 32%;
    left: 102%;
    background: url(../img/ship01.png)no-repeat center center;
    background-size: cover;
    animation: shipmove02 200s linear infinite;
    z-index: 300;
}
.ship03{
    width: 70px;
    height: 30px;
    position: relative;
    top: 20%;
    left: 102%;
    background: url(../img/ship01.png)no-repeat center center;
    background-size: cover;
    animation: shipmove03 200s linear infinite;
    z-index: 300;
}
@keyframes falconmove{
    0%{left: 90%;}
    100%{left: -12%;}
}
@keyframes shipmove01{
    0%{left: 105%;}
    100%{left: -7%;}
}
@keyframes shipmove02{
    0%{left: 100%;}
    100%{left: -2%;}
}
@keyframes shipmove03{
    0%{left: 103%;}
    100%{left: -5%;}
}

.vim{
    width: 5px;
    height: 1px;
    position: absolute;
    top: 10%;
    left: 0;
    color: red;
    font-size: 20px;
}
.ship01 .vim{
    animation: vim01 6s linear infinite;
}
.ship02 .vim{
    animation: vim02 6s linear infinite;
}
.ship03 .vim{
    animation: vim03 6s linear infinite;
}
@keyframes vim01{
    0%{left: 0;}
    10%{left: -300px; opacity: 0;}
    100%{left: 0; opacity: 0;}
}
@keyframes vim02{
    0%{left: 0;}
    20%{left: -300px; opacity: 0;}
    100%{left: 0; opacity: 0;}
}
@keyframes vim03{
    0%{left: 0;}
    15%{left: -300px; opacity: 0;}
    100%{left: 0; opacity: 0;}
}

.inner_text{
    height: 100vh;
    width: 1440px;
    min-width: 1440px;
    position: relative;
    margin: 0 auto;
    padding: 0 135px;
    
}
.it_wrap{
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    perspective: 400px;
}
.logo_big{
    width: 600px;
    height: 350px;
    margin: 0 auto;
    background: url(../img/logo_big.png)no-repeat center center;
    background-size: 100% 100%;
    animation: logo_big 1s linear 1;
}
@keyframes logo_big{
    0%{width: 0; height: 0;}
    0%{width: 0; height: 0;}
    0%{width: 0; height: 0;}
    0%{width: 0; height: 0;}
    0%{width: 0; height: 0;}
    100%{width: 600px; height: 350px;}
}

.logo_ori{
    width: 600px;
    height: 350px;
    margin: 0 auto;
    background: url(../img/e0aae607ba0edb791b4097457c717cac.png)no-repeat center center;
    background-size: 100% 100%;
    opacity: 0;
    animation: logo_ori 3s linear 1;
}
@keyframes logo_ori{
    0%{transform: scale(1.2); opacity: 1;}
    0%{}
    0%{}
    0%{}
    0%{}
    100%{transform: scale(0); opacity: 1;}
}

.credit{
    width: 80%;
    position: absolute;
    bottom: 100%;
    margin-left: 10%;
    color: #ddc973;
    font-size: 28px;
    text-align: center;
    transform: rotateX(30deg);
    animation: credit 20s linear 1;
    animation-delay: 3s;
}
@keyframes credit{
    0%{bottom: -150%;}
    0%{}
    0%{}
    0%{}
    100%{bottom: 100%;}
}












