html,body{

}

.main{
    
}

.main_inner{
 min-width: 1440px;   
}

.header{
    
}
.header_inner{
    
}
.logo{
    position: fixed;
    top: 60px;
    left: 70px;
    z-index: 999;
}
.logo a{
    display: block;
    width: 180px;
    height: 25px;
    background: url(../img/sw_logo_horiz-04368052e188.png)no-repeat center center;
    background-size: 100% 100%;
    transition: all 0.4s;
}

.menu_btn{
    display: block;
    position: fixed;
    top: 55px;
    right: 70px;
    z-index: 999;
    width: 100px;
    height: 30px;
    padding-right: 35px;
    transition: all 0.2s;
}

.menu_text{
    
    position: absolute;
    top: 7px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Poppins';
    color: #fff;
    line-height: 16px;
    transition: all 0.4s;
}
.menu_text i{
    font-size: 20px;
}
.close_text{
    position: absolute;
    top: 7px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Poppins';
    color: #fff;
    line-height: 16px;
    display: none;
}
.close_text i{
    font-size: 22px;
}
.sow{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 12px;
    cursor: auto;
}
.gr_sow{
    width: 100%;
    height: 20%;
    position: absolute;
    top: 5px;
    background: url(../img/gr_sow.png)no-repeat center center;
    background-size: 100% 100%;
    transition: all 0.4s;
}
.red_sow{
    width: 100%;
    height: 20%;
    position: absolute;
    top: 18px;
    background: url(../img/red_sow.png)no-repeat center center;
    background-size: 100% 100%;
    transition: all 0.4s;
}
.cross_gr{
    transform: rotate(-45deg);
    top: 11px;
}
.cross_red{
    transform: rotate(45deg);
    top: 11px;
}

.menu{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,1);
    z-index: 900;
    display: none;
}
.menu_inner{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}
.main_menu{
    position: relative;
}
.main_menu li{
    
}
.main_menu li a{
    font-size: 100px;
    font-weight: 600;
    color: transparent;
    cursor: pointer;
    text-stroke: 1.5px #ffe81f;
    transition: all 0.4s;
}
.main_menu li a:hover{
    color: #ffe81f;
}

.join{
    position: absolute;
    top: 0;
    right: 0;
}
.join:after{
    content: '';
    clear: both;
    display: block;
}
.join li{
    float: left;
    margin-left: 30px;
}
.join li a{
    font-size: 18px;
    color: #fff;
}

.kren{
    width: 20%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 0%;
    background: url(../img/kren.png)no-repeat center center;
    background-size: auto;
}
.rei{
    width: 20%;
    height: 80%;
    position: absolute;
    top: 10%;
    right: 0%;
    background: url(../img/rei.png)no-repeat center center;
    background-size: auto;
}

.container{
    overflow: hidden;
}
.cont01{
    min-height: 900px;
    background-color: #000;
    background: url(../img/bg_main_01.jpg)no-repeat center bottom;
    background-size: cover;
}
.star{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
}
.star span{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: 50% 50%;
    background-image: radial-gradient(2px 2px at 40px 60px, #ccc, rgba(0,0,0,0)), radial-gradient(2px 2px at 20px 50px, #ddd, rgba(0,0,0,0)), radial-gradient(2px 2px at 30px 100px, #eee, rgba(0,0,0,0)), radial-gradient(2px 2px at 40px 60px, #fff, rgba(0,0,0,0)), radial-gradient(2px 2px at 110px 90px, #ccc, rgba(0,0,0,0)), radial-gradient(2px 2px at 190px 150px, #ddd, rgba(0,0,0,0));
    background-repeat: repeat;
    background-size: 200px 200px;
}
.star span:nth-child(1){
    animation: bgStarEffect 44s linear infinite;
}
.star span:nth-child(2){
    animation: bgStarEffect 72s linear infinite;
}
.star span:nth-child(3){
    animation: bgStarEffect 80s linear infinite;
}
.star span:nth-child(4){
    animation: bgStarEffect 92s linear infinite;
}

@keyframes bgStarEffect{
    0%{transform: rotate(0deg); opacity: .1;}
    50%{transform: rotate(180deg); opacity: .6;}
    100%{transform: rotate(360deg); opacity: .1;}
}
.falcon{
    width: 45px;
    height: 25px;
    position: relative;
    top: 35%;
    left: 102%;
    background: url(../img/falcon.png)no-repeat center center;
    background-size: cover;
    animation: falconmove 200s linear infinite;
    z-index: 300;
}
.ship01{
    width: 100px;
    height: 50px;
    position: relative;
    top: 30%;
    left: 102%;
    background: url(../img/ship01.png)no-repeat center center;
    background-size: cover;
    animation: shipmove01 200s linear infinite;
    z-index: 300;
}
.ship02{
    width: 50px;
    height: 20px;
    position: relative;
    top: 32%;
    left: 102%;
    background: url(../img/ship01.png)no-repeat center center;
    background-size: cover;
    animation: shipmove02 200s linear infinite;
    z-index: 300;
}
.ship03{
    width: 70px;
    height: 30px;
    position: relative;
    top: 20%;
    left: 102%;
    background: url(../img/ship01.png)no-repeat center center;
    background-size: cover;
    animation: shipmove03 200s linear infinite;
    z-index: 300;
}
@keyframes falconmove{
    0%{left: 90%;}
    100%{left: -12%;}
}
@keyframes shipmove01{
    0%{left: 105%;}
    100%{left: -7%;}
}
@keyframes shipmove02{
    0%{left: 100%;}
    100%{left: -2%;}
}
@keyframes shipmove03{
    0%{left: 103%;}
    100%{left: -5%;}
}

.vim{
    width: 5px;
    height: 1px;
    position: absolute;
    top: 10%;
    left: 0;
    color: red;
    font-size: 20px;
}
.ship01 .vim{
    animation: vim01 6s linear infinite;
}
.ship02 .vim{
    animation: vim02 6s linear infinite;
}
.ship03 .vim{
    animation: vim03 6s linear infinite;
}
@keyframes vim01{
    0%{left: 0;}
    10%{left: -300px; opacity: 0;}
    100%{left: 0; opacity: 0;}
}
@keyframes vim02{
    0%{left: 0;}
    20%{left: -300px; opacity: 0;}
    100%{left: 0; opacity: 0;}
}
@keyframes vim03{
    0%{left: 0;}
    15%{left: -300px; opacity: 0;}
    100%{left: 0; opacity: 0;}
}

.inner_text{
    height: 100vh;
    width: 1440px;
    min-width: 1440px;
    position: relative;
    margin: 0 auto;
    padding: 0 135px;
}
.it_wrap{
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    perspective: 400px;
}
.logo_big{
    width: 600px;
    height: 350px;
    margin: 0 auto;
    background: url(../img/logo_big.png)no-repeat center center;
    background-size: 100% 100%;
    animation: logo_big 1s linear 1;
}
@keyframes logo_big{
    0%{width: 0; height: 0;}
    0%{width: 0; height: 0;}
    0%{width: 0; height: 0;}
    0%{width: 0; height: 0;}
    0%{width: 0; height: 0;}
    100%{width: 600px; height: 350px;}
}

.logo_ori{
    width: 600px;
    height: 350px;
    margin: 0 auto;
    background: url(../img/e0aae607ba0edb791b4097457c717cac.png)no-repeat center center;
    background-size: 100% 100%;
    opacity: 0;
    animation: logo_ori 3s linear 1;
}
@keyframes logo_ori{
    0%{transform: scale(1.2); opacity: 1;}
    0%{}
    0%{}
    0%{}
    0%{}
    100%{transform: scale(0); opacity: 1;}
}

.credit{
    width: 80%;
    position: absolute;
    bottom: 100%;
    margin-left: 10%;
    color: #ddc973;
    font-size: 28px;
    text-align: center;
    transform: rotateX(30deg);
    animation: credit 20s linear 1;
    animation-delay: 3s;
}
@keyframes credit{
    0%{bottom: -150%;}
    0%{}
    0%{}
    0%{}
    100%{bottom: 100%;}
}

.scroll_down{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
.scroll_down div{
    display: inline-block;
}
.scroll_down div p{
    display: inline-block;
    height: 30px;
    color: #fff;
}
.scroll_down div p i{
    font-size: 30px;
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}
.scroll_down div p i:nth-child(1){
    animation: sd1 3s linear infinite;
}
.scroll_down div p i:nth-child(2){
    animation: sd2 3s linear infinite;
    animation-delay: 1.5s;
}
.scroll_down div p span{
    font-size: 18px
}
@keyframes sd1{
    0%{top: -60px; opacity: 1}
    100%{top: -30px; opacity: 0}
}
@keyframes sd2{
    0%{top: -60px; opacity: 1;}
    100%{top: -30px; opacity: 0;}
}


.cont02{
    position: relative;
    min-height: 2550px;
    padding-top: 200px;
    background: #111 url(../img/bg_main_02.jpg) no-repeat;
    background-size: cover;
    background-position: top center;
}
.cont02_wrap{
    min-height: 900px;
}
.cont02_inner{
    width: 1440px;
    min-width: 1440px;
    height: 100vh;
    position: relative;
    margin: 0 auto;
    padding: 0 135px;
    z-index: 1;
}
.cont02_1{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.cont02_1_text{
    position: absolute;
    top: -160px;
    z-index: 10;
}
.cont02_1_text h2{
    font-size: 80px;
    font-weight: 800;
    color: #fff;
    width: 1200px;
    max-width: 1200px;
    display: block;
    line-height: 1.2;
}
.cont02_1_text h2 span:nth-child(1){
    display: block;
    text-stroke: 1px #fff;
    color: transparent;
    visibility: visible;
}
.cont02_1_text h2 span:nth-child(2){
    display: block;
    visibility: visible;
}
.cont02_1 .swiper-container{
    width: 1230px;
    height: 750px;
    margin-left: -30px;
}
.cont02_1 .swiper-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}
.cont02_1 .swiper-slide{
    height: 550px;
    position: relative;
}
#video1{
    width: 1230px;
}
.c2_sl_text{
    overflow: hidden;
    position: absolute;
    bottom: -200px;
    padding: 0 30px;
}
.c2_sl_text:after{
    content: '';
    clear: both;
    display: block;
}
.c2_sl_text div{
    float: left;
    width: 50%;
    color: #fff;
}
.text_num{
    font-size: 100px;
    font-weight: 100;
    font-family: Montserrat;
}
.text_title{
    font-size: 30px;
    margin-top: 20px;
    line-height: 40px;
/*    animation: text_up 0.6s linear infinite;*/
}
.c2_sl_text_right p{
    font-size: 16px;
    margin-top: 180px;
    line-height: 30px;
    word-break: keep-all;
}
.swiper-button-next, .swiper-button-prev{
}
@keyframes text_up{
    0%{font-size: 0;}
    100%{font-size: 30px;}
}

.cont02_2{
    min-height: 900px;
}
.cont02_2_inner{
    min-width: 1440px;
    min-height: 1400px;
    position: relative;
    width: 1440px;
    margin: 0 auto;
    padding: 0 135px;
}
.cont02_2_inner h2{
    width: 1200px;
    max-width: 1200px;
    padding-top: 50px;
    font-size: 80px;
    font-weight: 800;
    color: #fff;
}
.cont02_2_inner h2 span:nth-child(1){
    text-stroke: 1px #fff;
    color: transparent;
    visibility: visible;
}
.tab_wrap{
    padding: 70px 0 200px;
}
.tab_btn{
    overflow: hidden;
    width: 100%;
    height: 60px;
    border: 1px solid #fff;
    box-sizing: border-box;
    color: #fff;
}
.on{
    color: #e23034;
    background-color: #fff;
}
.tab_btn li{
    display: inline-block;
    float: left;
    width: 50%;
    height: 60px;
    font-size: 22px;
    font-weight: 800;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    border-left: 1px solid #fff;
}
.tab_cont{
    margin-top: 90px;
}
.tab_sec{
    height: 1300px;
    overflow: hidden;
}
.tab_sec:after{
    content: '';
    clear: both;
    display: block;
}
.tab_sec div{
    width: 50%;
    height: 250px;
    float: left;
    display: block;
    margin-bottom: 5px;
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;
    overflow: hidden;
}
.tab_sec_img{
    border-radius: 10%;
}
.tab_sec_text{
    color: #fff;
}
.tab_sec_text h1{
    line-height: 1.2;
}
.tab_sec_text h1:hover{
    color: #1786eb;
    transition: all 0.4s;
}
.tab_sec_text p{
    padding-top: 10px;
    color: #e1e1e1;
    font-size: 14px;
}

#tab2{
    display: none;
}
#tab2 div{
    width: 100%;
    height: 400px;
    position: relative;
}
.tab_sec_video{
    display: block;
    width: 70%;
    height: 100%;
    position: relative;
}
.video1{
    background: url(../img/806.jpg)no-repeat center center;
    background-size: 100% 100%;
}

.video2{
    background: url(../img/807.jpg)no-repeat center center;
    background-size: 100% 100%;
}
.video3{
    background: url(../img/808.jpg)no-repeat center center;
    background-size: 100% 100%;
}
.start{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-35% -50%);
    background-color: #ff0;
    z-index: 900;
}
#tab2 .tab_sec_text{
    width: 30%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}


.cont03{
    min-height: 900px;
    background: #151515;
    position: relative;
}
.cont03_01{
    
}
.cont03_01_inner{
    min-width: 1440px;
    position: relative;
    width: 1440px;
    margin: 0 auto;
    padding: 0 135px;
    height: 100vh;
}
.move_text{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    width: 30%;
    max-width: 1200px;
    font-size: 140px;
    font-weight: 800;
    color: #e23034;
}
.bg_left{
    width: 200px;
    height: 100%;
    background-position: left center;
    background-size: 100% auto;
    background-image: url(../img/bg_starsL-fd4661a3ccea.jpg);
    position: absolute;
    top: 0;
    left: 0;
}
.bg_right{
    width: 200px;
    height: 100%;
    background-position: left center;
    background-size: 100% auto;
    background-image: url(../img/bg_starsR-655c85e404d4.jpg);
    position: absolute;
    top: 0;
    right: 0;
}
.cont03_02{
    max-width: 1400px;
    min-height: 900px;
    margin: 0 auto;
}
.cont03_02 .swiper-container{
    width: 100%;
    height: 100vh;
    min-height: 900px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.cont03_02 .swiper-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    box-sizing: content-box;
}
.cont03_02 .swiper-wrapper>div:nth-child(1){
    background: url(../img/736.jpg)no-repeat center center;
    background-size: 100% 100%;
}
.cont03_02 .swiper-wrapper>div:nth-child(2){
    
}
.cont03_02 .swiper-wrapper>div:nth-child(3){
    
}
.cont03_02 .swiper-slide{
    width: 1903px;
    transition-duration: 0ms;
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
    transition-property: opacity;
}
.cont03_02_sl_text{
    display: table;
    width: 1440px;
    height: inherit;
    padding: 0 500px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 52%;
    transform: translateX(-50%);
}
.cont03_02_sl_text_inner{
    display: table-cell;
    width: auto;
    min-width: auto;
    height: auto;
    min-height: auto;
    margin: auto;
    padding: 0;
    vertical-align: middle;
}
.cont03_02_sl_text_inner p{
    padding-bottom: 5px;
    font-size: 100px;
    font-weight: 800;
    text-stroke: 2px #fff;
    color: transparent;
}
@keyframes fadeInLeft{
    0%{opacity: 0; transform: translateX(-80px);}
    100%{opacity: 1; transform: translateX(0px);}
}
.cont03_02_sl_text_inner h3{
    font-size: 30px;
    line-height: 40px;
    font-weight: 800;
    color: #fff;
}
.moreview{
    display: inline-block;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 800;
    color: #fff;
    overflow: hidden;
}
.moreview:before{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: #fff;
}
.moreview:after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 4px;
    background: #f00;
    transition: 200ms;
}
.moreview:hover.moreview:after{
    left: 0;
}

































