html,body{

}

.main{
    
}

.main_inner{
 min-width: 1440px;   
}

.header{
    
}
.header_inner{
    
}
.logo{
    position: fixed;
    top: 60px;
    left: 70px;
    z-index: 999;
}
.logo a{
    display: block;
    width: 366px;
    height: 38px;
    background: url(../img/sw_logo_horiz-04368052e188.png)no-repeat center center;
    background-size: 100% 100%;
    transition: all 0.4s;
}

.menu_btn{
    display: block;
    position: fixed;
    top: 55px;
    right: 70px;
    z-index: 999;
    width: 100px;
    height: 30px;
    padding-right: 35px;
    transition: all 0.2s;
}

.menu_text{
    
    position: absolute;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Poppins';
    color: #fff;
    line-height: 16px;
    transition: all 0.4s;
}
.menu_text i{
    font-size: 20px;
}
.close_text{
    position: absolute;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Poppins';
    color: #fff;
    line-height: 16px;
    display: none;
}
.close_text i{
    font-size: 22px;
}

.menu{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,1);
    z-index: 1;
    display: none;
}
.menu_inner{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}
.main_menu{
    position: relative;
}
.main_menu li{
    
}
.main_menu li a{
    font-size: 100px;
    font-weight: 600;
    color: transparent;
    cursor: pointer;
    text-stroke: 1.5px #ffe81f;
    transition: all 0.4s;
}
.main_menu li a:hover{
    color: #ffe81f;
}

.join{
    position: absolute;
    top: 0;
    right: 0;
}
.join:after{
    content: '';
    clear: both;
    display: block;
}
.join li{
    float: left;
    margin-left: 30px;
}
.join li a{
    font-size: 18px;
    color: #fff;
}

.kren{
    width: 20%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 0%;
    background: url(../img/kren.png)no-repeat center center;
    background-size: auto;
}
.rei{
    width: 20%;
    height: 80%;
    position: absolute;
    top: 10%;
    right: 0%;
    background: url(../img/rei.png)no-repeat center center;
    background-size: auto;
}

.container{
    overflow: hidden;
}
.cont01{
    min-height: 900px;
    background-color: #000;
    background: url(../img/bg_main_01.jpg)no-repeat center bottom;
    background-size: cover;
}
.star{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
}
.star span{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: 50% 50%;
    background-image: radial-gradient(2px 2px at 40px 60px, #ccc, rgba(0,0,0,0)), radial-gradient(2px 2px at 20px 50px, #ddd, rgba(0,0,0,0)), radial-gradient(2px 2px at 30px 100px, #eee, rgba(0,0,0,0)), radial-gradient(2px 2px at 40px 60px, #fff, rgba(0,0,0,0)), radial-gradient(2px 2px at 110px 90px, #ccc, rgba(0,0,0,0)), radial-gradient(2px 2px at 190px 150px, #ddd, rgba(0,0,0,0));
    background-repeat: repeat;
    background-size: 200px 200px;
}
.star span:nth-child(1){
    animation: bgStarEffect 44s linear infinite;
}
.star span:nth-child(2){
    animation: bgStarEffect 72s linear infinite;
}
.star span:nth-child(3){
    animation: bgStarEffect 80s linear infinite;
}
.star span:nth-child(4){
    animation: bgStarEffect 92s linear infinite;
}

@keyframes bgStarEffect{
    0%{transform: rotate(0deg); opacity: .1;}
    50%{transform: rotate(180deg); opacity: .6;}
    100%{transform: rotate(360deg); opacity: .1;}
}
.ship01{
    width: 80px;
    height: 40px;
    position: absolute;
    top: 30%;
    right: -2%;
    background: url(../img/ship01.png)no-repeat center center;
    background-size: cover;
    animation: shipmove01 200s linear infinite;
}
.ship02{
    width: 50px;
    height: 20px;
    position: absolute;
    top: 35%;
    right: -2%;
    background: url(../img/ship01.png)no-repeat center center;
    background-size: cover;
    animation: shipmove02 200s linear infinite;
}
.ship03{
    width: 70px;
    height: 30px;
    position: absolute;
    top: 26%;
    right: -2%;
    background: url(../img/ship01.png)no-repeat center center;
    background-size: cover;
    animation: shipmove03 200s linear infinite;
}
@keyframes shipmove01{
    0%{right: -2%;}
    100%{right: 110%;}
}
@keyframes shipmove02{
    0%{right: -5%;}
    100%{right: 110%;}
}
@keyframes shipmove03{
    0%{right: -3.5%;}
    100%{right: 110%;}
}

.inner_text{
    height: 100vh;
    width: 1440px;
    min-width: 1440px;
    position: relative;
    margin: 0 auto;
    padding: 0 135px;
}
.it_wrap{
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}
.wrap.main .cont_01 .area_text > .ico_deco {
    width: 100%;
    margin-bottom: 65px;
    background-position: right;
    transform: translatex(-80px) translatey(80px);
    animation-name: diagonal;
    animation-fill-mode: forwards;
    opacity: 0;
}
.ico_deco {
    display: block;
    height: 80px;
    background: url(../img/ico_deco.png) no-repeat;
}

@keyframes diagonal{
    0%{opacity: 0; transform: translateY(0);}
    100%{opacity: 1; transform: translateX(-80px) translateY(80px);}
}
.wrap.main .cont_01 .wrap_tit .txt_tit, .wrap.main .cont_01 .wrap_tit .txt_tit .txt_line {
    transition: 400ms;
}
.wrap.main .cont_01 .wrap_tit .txt_tit {
    width: auto;
}
.wrap .container .comm_cont .txt_tit {
    font-family: Montserrat;
    color: #fff;
}
.wrap .cont_01 .txt_tit {
    overflow: hidden;
    font-size: 140px;
    color: #fff;
    font-weight: 800;
}
















