html,body{

}

.main{
    background-color: #151515;
}

.main_inner{
    width: 100%;
    min-width: 1440px;
}

.header{
    
}
.header_inner{
    
}
.logo{
    position: fixed;
    top: 60px;
    left: 70px;
    z-index: 999;
}
.logo a{
    display: block;
    width: 180px;
    height: 25px;
    background: url(../img/sw_logo_horiz-04368052e188.png)no-repeat center center;
    background-size: 100% 100%;
    transition: all 0.4s;
}

.menu_btn{
    display: block;
    position: fixed;
    top: 55px;
    right: 70px;
    z-index: 999;
    width: 100px;
    height: 30px;
    padding-right: 35px;
    transition: all 0.2s;
}

.menu_text{
    
    position: absolute;
    top: 7px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Poppins';
    color: #fff;
    line-height: 16px;
    transition: all 0.4s;
}
.menu_text i{
    font-size: 20px;
}
.close_text{
    position: absolute;
    top: 7px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Poppins';
    color: #fff;
    line-height: 16px;
    display: none;
}
.close_text i{
    font-size: 22px;
}
.sow{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 12px;
    cursor: auto;
}
.gr_sow{
    width: 100%;
    height: 20%;
    position: absolute;
    top: 5px;
    background: url(../img/bl_sow.png)no-repeat center center;
    background-size: 100% 100%;
    transition: all 0.4s;
}
.red_sow{
    width: 100%;
    height: 20%;
    position: absolute;
    top: 18px;
    background: url(../img/red_sow2.png)no-repeat center center;
    background-size: 100% 100%;
    transition: all 0.4s;
}
.cross_gr{
    transform: rotate(-45deg);
    top: 11px;
}
.cross_red{
    transform: rotate(45deg);
    top: 11px;
}

.menu{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,1);
    z-index: 900;
    display: none;
}
.menu_inner{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}
.main_menu{
    position: relative;
}
.main_menu li{
    
}
.main_menu li a{
    font-size: 100px;
    font-weight: 600;
    color: transparent;
    cursor: pointer;
    text-stroke: 1.5px #ffe81f;
    transition: all 0.4s;
}
.main_menu li a:hover{
    color: #ffe81f;
}

.join{
    position: absolute;
    top: 0;
    right: 0;
}
.join:after{
    content: '';
    clear: both;
    display: block;
}
.join li{
    float: left;
    margin-left: 30px;
}
.join li a{
    font-size: 18px;
    color: #fff;
}

.kren{
    width: 20%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 0%;
    background: url(../img/kren.png)no-repeat center center;
    background-size: auto;
}
.rei{
    width: 20%;
    height: 80%;
    position: absolute;
    top: 10%;
    right: 0%;
    background: url(../img/rei.png)no-repeat center center;
    background-size: auto;
}

.container{
    overflow: hidden;
}
.cont01{
    min-height: 400px;
    background: url(https://lumiere-a.akamaihd.net/v1/images/resistance-2-header-1x_67c63994.jpeg?region=0%2C0%2C1600%2C296)no-repeat center center;
    background-size: 100% 100%;
    background-color: #161616;
    z-index: -1;
}
.bg_fade_l{
    display: block;
    position: absolute;
    top: 0;
    left: 200px;
    width: 200px;
    height: 100%;
    background-image: linear-gradient(to right, #161616 0%, rgba(22,22,22,0.9) 15%, rgba(22,22,22,0.8) 27%, rgba(22,22,22,0.5) 50%, rgba(22,22,22,0.15) 75%, transparent 100%);
    background-color: transparent;
    transition: opacity 450ms ease-out;
    opacity: 1;
}
.bg_fade_r{
    display: block;
    position: absolute;
    top: 0;
    right: 200px;
    width: 200px;
    height: 100%;
    background-image: linear-gradient(to right, #161616 0%, rgba(22,22,22,0.9) 15%, rgba(22,22,22,0.8) 27%, rgba(22,22,22,0.5) 50%, rgba(22,22,22,0.15) 75%, transparent 100%);
    background-color: transparent;
    transition: opacity 450ms ease-out;
    transform: rotate(180deg);
    opacity: 1;
}
.cont01_inner{
    width: 100%;
    min-height: 400px;
    position: relative;
    margin: 0 auto;
    padding: 0 135px;
}
.cont01_text{
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cont01_text_tt{
    font-size: 140px;
    color: #fff;
    font-weight: 800;
    overflow: hidden;
}
.cont01_text_tt>p{
    display: block;
}
.cont01_text_tt>p>span{
    display: block;
    position: relative;
    float: left;
    line-height: 200px; 
    font-weight: 800;
}
.cont01_text_tt>p>span:nth-child(1){
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-duration: 5s;
    animation-name: fadeInUpTofadeOut;
}
.cont01_text_tt>p>span:nth-child(2){
    animation-iteration-count: infinite;
    animation-delay: 1.05s;
    animation-duration: 5s;
    animation-name: fadeInUpTofadeOut;
}
.cont01_text_tt>p>span:nth-child(3){
    animation-iteration-count: infinite;
    animation-delay: 1.1s;
    animation-duration: 5s;
    animation-name: fadeInUpTofadeOut;
}
.cont01_text_tt>p>span:nth-child(4){
    animation-iteration-count: infinite;
    animation-delay: 1.15s;
    animation-duration: 5s;
    animation-name: fadeInUpTofadeOut;
}
.cont01_text_tt>p>span:nth-child(5){
    animation-iteration-count: infinite;
    animation-delay: 1.2s;
    animation-duration: 5s;
    animation-name: fadeInUpTofadeOut;
}
.cont01_text_tt>p>span:nth-child(6){
    animation-iteration-count: infinite;
    animation-delay: 1.25s;
    animation-duration: 5s;
    animation-name: fadeInUpTofadeOut;
}
.cont01_text_tt>p>span:nth-child(7){
    animation-iteration-count: infinite;
    animation-delay: 1.3s;
    animation-duration: 5s;
    animation-name: fadeInUpTofadeOut;
}

@keyframes fadeInUpTofadeOut{
    0% {opacity: 0; transform: translate3d(0, 100%, 0);}
    20% { opacity: 1; transform: none;}
    80% {opacity: 1; transform: none;}
    100% {opacity: 0; transform: none;}
}

.cont02{
    background: #151515;
    min-height: 900px;
    padding-bottom: 200px;
    overflow: hidden;
}
.cont02_wrap{
    position: relative;
}
.cont02_wrap::before{
    content: '';
    display: block;
    width: 100%;
    height: 800px;
    position: absolute;
    background-color: #151515;
    z-index: 0;
}
.bg_l{
    width: 200px;
    height: 100%;
    background-position: left center;
    background-size: 100% auto;
    background-image: url(../img/bg_starsL-fd4661a3ccea.jpg);
    position: fixed;
    top: 0;
    left: 0;
}
.bg_r{
    width: 200px;
    height: 100%;
    background-position: left center;
    background-size: 100% auto;
    background-image: url(../img/bg_starsR-655c85e404d4.jpg);
    position: fixed;
    top: 0;
    right: 0;
}
.cont02_inner{
    width: 1440px;
    min-width: 1440px;
    position: relative;
    margin: 0 auto;
    padding: 0 135px;
    padding-top: 0;
    z-index: 1;
}
.cont02_inner_tt{
    
}
.cont02_inner_tt>div{
    min-height: 800px;
}
.cont02_inner_tt>div>div{
    min-width: 1440px;
    padding: 200px 0 0;
    height: 800px;
    position: relative;
    width: 1440px;
    margin: 0 auto
}
.bigbox img{
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 6px;
    padding: 1.2% 0;
    box-sizing: border-box;
    vertical-align: bottom;
    overflow: hidden;
    display: block;
}
.cont02_1{
    width: 100%;
    margin-top: 20px;
    position: relative;
    text-align: left;
    overflow: hidden;
}
.cont02_1_inner{
    min-width: 260px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding-bottom: 0;
    overflow: visible;
}
.cont02_1_tt{
    margin-left: 0;
    margin-right: 0;
    margin: 1.52em 0 0.76em;
    border-top: 2px solid rgba(170,170,170,0.25);
    border-bottom: 2px solid rgba(170,170,170,0.25);
    padding: 0.65rem 12px 0.4rem;
    font-size: 1em;
}
.cont02_1_tt>h2{
    font-size: 1.15rem;
    font-weight: 800;
    line-height: 1.35rem;
    color: #ddd;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
    display: inline-block;
}

.midbox{
    width: 100%;
    margin-bottom: 50px;
}
.midbox::after{
    content: '';
    clear: both;
    display: block;
}
.midbox>div{
    float: left;
}
.midbox1{
    width: 64%;
    background-color: #282727;
    border-radius: 6px;
    overflow: hidden;
}
.mb_img{
    position: relative;
    cursor: pointer;
}
.mb_img img{
    border-bottom: 1px solid #e15021;
}
.start_btn{
    background-image: url(https://static-mh.content.disney.io/starwars/assets/video/videoplayer_skin/icons-large-sprite-4ed07c8eaac7.png);
    background-size: 200%;
    background-repeat: no-repeat;
    opacity: 0.8;
    padding: 0;
    height: 72px;
    width: 72px;
    background-color: transparent;
    background-position: 0 0;
    border-radius: 5px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.start_btn:hover{
    background-position: -72px 0;
}
.mb_text{
    position: relative;
    padding-bottom: 100px;
}
.text_tt{
    padding-left: 10px;
    font-size: 24px;
    line-height: 1.15em;
    font-weight: 600;
    color: #ddd;
    transition: all 0.4s;
}
.text_tt:hover{
    color: #e15021;
}
.iconbox{
    padding-left: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.icon1_img{
    display: inline-block;
    margin: -1.7em -0.2em -0.5em -0.5em;
    background-repeat: no-repeat;
    background-image: url(https://static-mh.content.disney.io/starwars/assets/shared/section_icon_sprite-383dbefd9b1f.png);
    background-size: 1000% 200%;
    width: 1.7em;
    height: 1.7em;
    background-position: 11.11111% 0%;
}
.icon1_name{
    font-size: 10px;
    color: #e15021;
}
.deco{
    content: "";
    display: block;
    position: absolute;
    width: 47px;
    height: 47px;
    opacity: 0.06;
    z-index: 1;
    background-image: url(https://static-mh.content.disney.io/starwars/assets/shared/decal-a67af2e7d567.png);
    background-size: 300% 200%;
    right: 20px;
    bottom: -12px;
    transform: scaleY(-1);
}

.midbox2{
    width: 34%;
    margin-left: 2%;
    background-color: #282727;
    border-radius: 6px;
    overflow: hidden;
}
.mb2_img{
    width: 100%;
    max-height: 350px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.mb2_img img{
    width: 100%;
    max-height: 350px;
    display: block;
    border-bottom: 1px solid #75933d;
}
.mb2_text{
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 120px;
    position: relative;
}
.mb2_text>span{
    font-size: 20px;
    line-height: 1.15em;
    font-weight: 600;
    color: #ddd;
    transition: all 0.4s;
}
.mb2_text>span:hover{
    color: #75933d;
}
.mb2_text>p{
    color: #aaa;
    font-size: 12px;
}
.iconbox2{
    padding-left: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.icon2_img{
    display: inline-block;
    margin: -1.7em -0.2em -0.5em -0.5em;
    background-repeat: no-repeat;
    background-image: url(https://static-mh.content.disney.io/starwars/assets/shared/section_icon_sprite-383dbefd9b1f.png);
    background-size: 1000% 200%;
    width: 1.5em;
    height: 1.5em;
    background-position: 44.44444% 0%;
}
.icon2_name{
    font-size: 10px;
    color: #75933d;
}
.deco2{
    content: "";
    display: block;
    position: absolute;
    width: 47px;
    height: 47px;
    opacity: 0.06;
    z-index: 1;
    background-image: url(https://static-mh.content.disney.io/starwars/assets/shared/decal-a67af2e7d567.png);
    background-size: 300% 200%;
    background-position: -100% 0;
    right: 10px;
    bottom: -22px;
}


.midbox1_1{
    width: 49%;
    margin-right: 2%;
}
.md_img2{
    width: 100%;
    height: 400px;
    margin-bottom: 5px;
}
.md_img2 img{
    width: 100%;
    height: 100%;
    display: block;
    background: url(../img/562.jpg)no-repeat center center;
    background-size: 100% 100%;
}

.midbox3{
    width: 49%;
    height: 160px;
    margin-bottom: 25px;
    border-radius: 6px;
    background-color: #282727;
    overflow: hidden;
}
.midbox3::after{
    content: '';
    clear: both;
    display: block;
}
.midbox3>div{
    float: left;
}
.mb3_img{
    width: 40%;
    height: 100%;
}
.mb3_img img{
    width: 100%;
    height: 100%;
    border-right: 2px solid #3273c5;
}
.mb3_text{
    padding: 2%;
    width: 60%;
    height: 100%;
    position: relative;
}
.mb3_text>span{
    font-size: 1.3em;
    line-height: 1.15em;
    font-weight: 800;
    color: #ddd;
    transition: all 0.4s;
}
.mb3_text>span:hover{
    color: #3273c5;
}
.mb3_text>p{
    font-size: 0.95125em;
    margin-top: 0.0625em;
    line-height: 1.24344em;
    color: #aaa;
}
.iconbox3{
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 2%;
}
.icon3_img{
    display: inline-block;
    margin: -1.7em -0.2em -0.5em -0.5em;
    background-repeat: no-repeat;
    background-image: url(https://static-mh.content.disney.io/starwars/assets/shared/section_icon_sprite-383dbefd9b1f.png);
    background-size: 1000% 200%;
    width: 1.7em;
    height: 1.7em;
    background-position: 0% 0%;
}
.icon3_name{
    color: #3273c5;
    font-size: 1em;
}
.icon3_date{
    color: #aaa;
    font-size: 1em;
}



















.gototop{
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    display: none;
    z-index: 900;
}
.gototop div{
    display: inline-block;
    position: relative;
}
.gototop div p{
    display: inline-block;
    height: 30px;
    color: #fff;
}
.gototop div p i{
    font-size: 30px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}
.gototop div p i:nth-child(1){
    animation: gtt1 3s linear infinite;
}
.gototop div p i:nth-child(2){
    animation: gtt2 3s linear infinite;
    animation-delay: 1.5s;
}
.gototop div p span{
    font-size: 18px
}
@keyframes gtt1{
    0%{top: -30px; opacity: 1}
    100%{top: -60px; opacity: 0}
}
@keyframes gtt2{
    0%{top: -30px; opacity: 1;}
    100%{top: -60px; opacity: 0;}
}




footer{
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    clear: both;
    margin: auto 0;
    letter-spacing: 1.05px;
    background-color: #1a1a1a;
    min-height: 272px;
    background-image: url(../img/vader-1c0fe900f0e4.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
.ft_top{
    padding-top: 16px;
    display: block;
    letter-spacing: 1.05px;
    color: #aaa;
    font-weight: 600;
}
.sns{
    margin-top: 20px;
    margin: 16px auto 0;
    text-align: center;
}
.sns p{
    margin: 64px 0 22px;
    text-transform: uppercase;
    font-weight: 400;
    color: #858a8d;
}
.sns ul{
    display: block;
}
.sns ul li{
    width: 36px;
    height: 36px;
    margin: 0 12px;
    margin-left: 0;
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 1.05px;
}
.sns ul li a{
    width: 34px;
    height: 34px;
    display: block;
    color: transparent;
    opacity: 0.42;
    background-repeat: no-repeat;
    background-image: url(../img/social_sprite-6d7f2dd441cd.png);
    background-size: 700% 300%;
    transition: all 0.4s;
}
.sns ul li:nth-child(1) a{
    background-position: 0% 0%;
}
.sns ul li:nth-child(2) a{
    background-position: 16.66667% 0%;
}
.sns ul li:nth-child(3) a{
    background-position: 33.33333% 0%;
}
.sns ul li:nth-child(4) a{
    background-position: 50% 0%;
}
.sns ul li:nth-child(5) a{
    background-position: 66.66667% 0%;
}
.sns ul li a:hover{
    opacity: 1;
}

.ft_bot{
    max-width: none;
    text-align: center;
    margin-top: 10px;
    display: block;
}
.ft_bot P{
    margin: 20px auto 6px;
    margin-top: 28px;
    font-size: 0.8rem;
    font-weight: 400;
    color: #858a8d;
    display: block;
}
.ft_bot ul{
    width: auto;
    margin: 0 auto;
}
.ft_bot ul li{
    display: inline-block;
    width: auto;
    min-height: 1em;
    line-height: 0.8rem;
    margin: 6px 0;
    padding: 0 8px 0 9px;
    border: 0;
    border-right: 1px solid rgba(255,255,255,0.09);
    vertical-align: top;
}
.ft_bot ul li a{
    display: inline-block;
    height: 100%;
    width: auto;
    box-sizing: border-box;
    padding-bottom: 2px;
    font-size: 0.8rem;
    color: #858a8d;
}
.ft_bot ul li a:after{
    content: "";
    display: block;
    width: 40%;
    margin: 0 auto;
    opacity: 0.9;
    border-bottom: 1px solid transparent;
    transition: border-color 200ms, width 250ms;
}
.ft_bot ul li a:hover::after{
    width: 100%;
    border-bottom: 1px solid #858a8d;
}























